SNRServicesNWEB/WebContent/wsdl/SUT_CB_NotificadorPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/notificador/v1" xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/cb/notificador/acusarmensaje/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/notificador/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/notificador/acusarmensaje/v1" version="1.3">
			<xsd:complexType name="tipoEntradaAcusarMensaje">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="identificador" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="guia" nillable="true" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="fechaAcuse" type="xsd:dateTime"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="fechaEnvio" type="xsd:dateTime"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaAcusarMensaje" type="bachue1:tipoEntradaAcusarMensaje"/>
			<xsd:complexType name="tipoSalidaAcusarMensaje">
				<xsd:sequence>
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaAcusarMensaje" type="bachue1:tipoSalidaAcusarMensaje"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="AcusarMensaje_Request">
		<wsdl:part element="bachue1:entradaAcusarMensaje" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="AcusarMensaje_Response">
		<wsdl:part element="bachue1:salidaAcusarMensaje" name="salida"/>
	</wsdl:message>

	<wsdl:portType name="SUT_CB_Notificador">
		<wsdl:operation name="AcusarMensaje">
			<wsdl:input message="bachue:AcusarMensaje_Request"/>
			<wsdl:output message="bachue:AcusarMensaje_Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SUT_CB_NotificadorSOAP12Binding" type="bachue:SUT_CB_Notificador">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AcusarMensaje">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/notificador/v1/AcusarMensaje" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SUT_CB_Notificador">
		<wsdl:port binding="bachue:SUT_CB_NotificadorSOAP12Binding" name="SUT_CB_NotificadorPort">
			<soap:address location="http://localhost:7001/SNRServicesNWEB/services/SUT_CB_NotificadorPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
