SNRServicesCXCTWEB/WebContent/wsdl/SBB_CB_CertificadoTradicionPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/certificadotradicionpdf/v1" xmlns:bachueOPDF="https://www.supernotariado.gov.co/services/bachue/cb/certificadotradicionpdf/obtenerPDF/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/certificadotradicionpdf/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/certificadotradicionpdf/obtenerPDF/v1">
			<xsd:complexType name="tipoEntradaCertificadoTradicionPDF">
				<xsd:annotation>
					<xsd:documentation xml:lang="es">El esquema define los
						datos de Entrada para la operación Obtener PDF en Base64 de
						Certificado de
						Tradición y Libertad
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="tipoPDF">
						<xsd:annotation>
							<xsd:documentation>Corresponde al tipo de PDF que se va a obtener
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="normal">
									<xsd:annotation>
										<xsd:documentation>PDF con validez jurídica
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="PDFConsultaJuridica">
									<xsd:annotation>
										<xsd:documentation>PDF Consulta jurídica, el mismo PDF de
											Certificado Tradicion pero con marca de agua puesta por
											Certicámaras.
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="tipoIdentificacionPredio">
						<xsd:annotation>
							<xsd:documentation>Corresponde al tipo de identificacion por el
								cual podemos buscar un predio.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="matricula">
									<xsd:annotation>
										<xsd:documentation>En el campo numIdentificacionPredio deberá
											venir los
											tres primeros caracteres del cículo y luego si el
											número de
											matrícula
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="numeroPredial">
									<xsd:annotation>
										<xsd:documentation>Corresponde al CHIP, si es Bogotá o a la
											referencia o cédula catastral del predio.
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="numeroPredialAnterior">
									<xsd:annotation>
										<xsd:documentation>Corresponde al anterior numero de
											Identifiación Predial.
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="NUPRE">
									<xsd:annotation>
										<xsd:documentation>Número Único Predial
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="numIdentificacionPredio">
						<xsd:annotation>
							<xsd:documentation>Al seleccionar un tipo de Identificación
								predio,
								se espera en este campo el número correspondiente; para
								el caso
								de
								Matricula, el sistema toma los tres primeros caracteres
								como
								Código Circulo Registral y los siguientes como el Número de
								Matrícula Inmobiliaria.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="64"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="convenio">
						<xsd:annotation>
							<xsd:documentation>Nombre del convenio que tiene la SNR con
								Entidades Externas que necesiten este servicio.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoSalidaCertificadoTradicionPDF">
				<xsd:annotation>
					<xsd:documentation xml:lang="es">El esquema define los
						datos de salida para la operacion obtener PDF de Certificado de
						Tradición y Libertad
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="datosArchivoPDF">
						<xsd:annotation>
							<xsd:documentation>Certificado de Tradición y Libertad PDF en
								base64
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:base64Binary"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="codMensaje">
						<xsd:annotation>
							<xsd:documentation>200 cuando no hay error, 409 por errores de
								validación de campos de entrada o validación de negocio y 500
								cuando existen errores de sistema
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="descripcionMensaje">
						<xsd:annotation>
							<xsd:documentation>Corresponde a al mensaje de error para los
								casos
								en qeue la consulta no fue exitosa, vacío cuando la
								consulta es
								exitosa
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaCertificadoTradicionPDF" type="bachueOPDF:tipoEntradaCertificadoTradicionPDF"/>
			<xsd:element name="salidaCertificadoTradicionPDF" type="bachueOPDF:tipoSalidaCertificadoTradicionPDF"/>
			<!-- Últimas modificaciones 2020-02-03 16:26 -->
		</xsd:schema>
	</wsdl:types>

	<!-- INICIO sección Message -->
	<wsdl:message name="ObtenerPDF_Request">
		<wsdl:part element="bachueOPDF:entradaCertificadoTradicionPDF" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ObtenerPDF_Response">
		<wsdl:part element="bachueOPDF:salidaCertificadoTradicionPDF" name="salida"/>
	</wsdl:message>

	<!-- INICIO SBB_CB_CertificadoTradicion -->
	<wsdl:portType name="SBB_CB_CertificadoTradicion">

		<!-- Inicio Operacion obtenerPDFRequest -->
		<wsdl:operation name="obtenerPDF">
			<wsdl:input message="bachue:ObtenerPDF_Request"/>
			<wsdl:output message="bachue:ObtenerPDF_Response"/>
		</wsdl:operation>
		<!-- Fin Operacion obtenerPDF -->

	</wsdl:portType>

	<!-- INICIO WSDL:binding -->
	<wsdl:binding name="SBB_CB_CertificadoTradicionSOAP12Binding" type="bachue:SBB_CB_CertificadoTradicion">

		<!-- Inicio Binding CertificadoTradicion -->
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="obtenerPDF">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/certificadotradicion/v1/obtenerPDF" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- Fin Binding CertificadoTradicion -->
	</wsdl:binding>

	<wsdl:service name="SBB_CB_CertificadoTradicion">
		<wsdl:port binding="bachue:SBB_CB_CertificadoTradicionSOAP12Binding" name="SBB_CB_CertificadoTradicionPort">
			<soap:address location="http://localhost:7001/SNRServicesCXCT/services/SBB_CB_CertificadoTradicionPort"/>
		</wsdl:port>
	</wsdl:service>
	<!-- Últimas modificaciones 2020-01-27 11:13 -->

</wsdl:definitions>
