SNRServicesCXSWEB/WebContent/wsdl/SBB_CB_SalvedadesPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/salvedades/v1" xmlns:bachueCS="https://www.supernotariado.gov.co/services/bachue/cb/salvedades/consultarSalvedades/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/salvedades/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/salvedades/consultarSalvedades/v1">
			<xsd:complexType name="tipoEntradaSalvedades">
				<xsd:annotation>
					<xsd:documentation xml:lang="es">El esquema define los
						datos de entrada para la operacion consultarSalvedades
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="convenio" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								Código del convenio que tiene la SNR con
								Entidades Externas que necesiten este servicio.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="tipoIdentificacionPredio">
						<xsd:annotation>
							<xsd:documentation>Corresponde al tipo de identificacion por el
								cual podemos buscar un predio.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="matricula">
									<xsd:annotation>
										<xsd:documentation>En el campo numIdentificacionPredio deberá
											venir los
											tres primeros caracteres del cículo y luego si el
											número de
											matrícula
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="numeroPredial">
									<xsd:annotation>
										<xsd:documentation>Corresponde al CHIP, si es Bogotá o a la
											referencia o cédula catastral del predio.
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="numeroPredialAnterior">
									<xsd:annotation>
										<xsd:documentation>Corresponde al anterior numero de
											Identifiación Predial.
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="NUPRE">
									<xsd:annotation>
										<xsd:documentation>Número Único Predial
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="numIdentificacionPredio">
						<xsd:annotation>
							<xsd:documentation>Al seleccionar un tipo de Identificación
								predio,
								se espera en este campo el número correspondiente; para
								el caso
								de
								matricula, el sistema toma los tres primeros caracteres
								como
								Código Circulo Registral y los siguientes como el Número de
								Matrícula Inmobiliaria.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="64"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoSalidaSalvedades">
				<xsd:annotation>
					<xsd:documentation xml:lang="es">El esquema define los
						datos de salida para la operacion consultarSalvedades
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="salvedades" type="bachueCS:tipoSalvedad"/>
					<xsd:element name="codMensaje" type="xsd:integer">
						<xsd:annotation>
							<xsd:documentation>200 cuando no hay error, 4* por errores de
								validación de campos de entrada o validación de negocio y 500
								cuando existen errores de sistema
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="descripcionMensaje" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Corresponde a al mensaje de error para los
								casos en que la consulta no fue exitosa, vacío cuando la
								consulta es exitosa
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoSalvedad">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="numAnotacion" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Corresponde al número de la anotación de la
								salvedad.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="numeroCorreccion" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Corresponde al número de la corrección de la
								salvedad.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="NIR" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Corresponde al NIR de la salvedad.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="radicacion" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Corresponde a la radicacion de la salvedad.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="fechaSalvedad" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>Corresponde a la fecha de la salvedad.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="descripcionSalvedad" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>descripción de la salvedad
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaDatosSalvedades" type="bachueCS:tipoEntradaSalvedades"/>
			<xsd:element name="salidaDatosSalvedades" type="bachueCS:tipoSalidaSalvedades"/>
			<!-- Últimas modificaciones 2020-02-03 17:25 -->
		</xsd:schema>
	</wsdl:types>

	<!-- INICIO WSDL:mesage -->
	<wsdl:message name="ConsultarSalvedades_Request">
		<wsdl:part element="bachueCS:entradaDatosSalvedades" name="entrada"/>
	</wsdl:message>

	<wsdl:message name="ConsultarSalvedades_Response">
		<wsdl:part element="bachueCS:salidaDatosSalvedades" name="salida"/>
	</wsdl:message>

	<!-- INICIO ConsultasBachue -->
	<wsdl:portType name="SBB_CB_Salvedades">

		<!-- Inicio Operacion consultarSalvedades -->
		<wsdl:operation name="consultarSalvedades">
			<wsdl:input message="bachue:ConsultarSalvedades_Request"/>
			<wsdl:output message="bachue:ConsultarSalvedades_Response"/>
		</wsdl:operation>
		<!-- Fin Operacion consultarSalvedades -->
	</wsdl:portType>

	<!-- INICIO WSDL:binding -->
	<wsdl:binding name="SBB_CB_SalvedadesSOAP12Binding" type="bachue:SBB_CB_Salvedades">

		<!-- Inicio Binding DatosSalvedades -->
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultarSalvedades">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/salvedades/v1/consultarSalvedades" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- Fin Binding DatosSalvedades -->
	</wsdl:binding>

	<wsdl:service name="SBB_CB_Salvedades">
		<wsdl:port binding="bachue:SBB_CB_SalvedadesSOAP12Binding" name="SBB_CB_SalvedadesPort">
			<soap:address location="http://localhost:7001/SNRServicesCXSWEB/services/SBB_CB_SalvedadesPort"/>
		</wsdl:port>
	</wsdl:service>
	<!-- Últimas modificaciones 2020-01-27 11:13 -->
</wsdl:definitions>
