SNRServicesSDCWEB/WebContent/wsdl/BS_SDI_CB_SolicitudDeCopias.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<wsdl:definitions
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ee/solicituddecopias/v1"
	xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecopias/ingresosolicitud/v1"
	xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecopias/consultarsolicitud/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/ee/solicituddecopias/v1">
	<wsdl:types>
		<xsd:schema
			targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecopias/ingresosolicitud/v1"
			elementFormDefault="qualified">
			<xsd:complexType name="tipoEntradaIngresoSolicitud">
				<xsd:sequence>
					<xsd:element name="listaDocumentos">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="documentoSGD"
									maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="dId" type="xsd:string" />
											<xsd:element name="docName" type="xsd:string" />
											<xsd:element name="tipoDocumental"
												type="xsd:string" />
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaIngresoSolicitud"
				type="bachue1:tipoEntradaIngresoSolicitud" />
			<xsd:complexType name="tipoSalidaIngresoSolicitud">
				<xsd:sequence>
					<xsd:element name="idSolicitudCopias" type="xsd:string" />
					<xsd:element name="codigo">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="200" />
								<xsd:enumeration value="500" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="mensaje" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaIngresoSolicitud"
				type="bachue1:tipoSalidaIngresoSolicitud" />
		</xsd:schema>
		<xsd:schema
			targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecopias/consultarsolicitud/v1"
			elementFormDefault="qualified">
			<xsd:complexType name="tipoEntradaConsultarSolicitud">
				<xsd:sequence>
					<xsd:element name="NIR" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaConsultarSolicitud"
				type="bachue2:tipoEntradaConsultarSolicitud" />
			<xsd:complexType name="tipoSalidaConsultarSolicitud">
				<xsd:sequence>
					<xsd:element name="valorPago" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="referenciaPago" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="estado" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="fechaLiquidacion" minOccurs="0"
						type="xsd:date" />
					<xsd:element name="fechaVencimientoPago" minOccurs="0"
						type="xsd:date" />
					<xsd:element name="codigo">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="200" />
								<xsd:enumeration value="500" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="mensaje" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaConsultarSolicitud"
				type="bachue2:tipoSalidaConsultarSolicitud" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IngresoSolicitud_Request">
		<wsdl:part name="entrada"
			element="bachue1:entradaIngresoSolicitud" />
	</wsdl:message>
	<wsdl:message name="IngresoSolicitud_Response">
		<wsdl:part name="salida"
			element="bachue1:salidaIngresoSolicitud" />
	</wsdl:message>
	<wsdl:message name="ConsultarSolicitud_Request">
		<wsdl:part name="entrada"
			element="bachue2:entradaConsultarSolicitud" />
	</wsdl:message>
	<wsdl:message name="ConsultarSolicitud_Response">
		<wsdl:part name="salida"
			element="bachue2:salidaConsultarSolicitud" />
	</wsdl:message>
	<wsdl:portType name="BS_SDI_CB_SolicitudDeCopias">
		<wsdl:operation name="IngresoSolicitud">
			<wsdl:input message="bachue:IngresoSolicitud_Request" />
			<wsdl:output message="bachue:IngresoSolicitud_Response" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarSolicitud">
			<wsdl:input message="bachue:ConsultarSolicitud_Request" />
			<wsdl:output message="bachue:ConsultarSolicitud_Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BS_SDI_CB_SolicitudDeCopias"
		type="bachue:BS_SDI_CB_SolicitudDeCopias">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="IngresoSolicitud">
			<soap:operation style="document"
				soapAction="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecopias/ingresosolicitud/v1" />
			<wsdl:input>
				<soap:body use="literal" parts="entrada" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="salida" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarSolicitud">
			<soap:operation style="document"
				soapAction="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecopias/consultarsolicitud/v1" />
			<wsdl:input>
				<soap:body use="literal" parts="entrada" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="salida" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BS_SDI_CB_SolicitudDeCopias">
		<wsdl:port name="BS_SDI_CB_SolicitudDeCopiasPort"
			binding="bachue:BS_SDI_CB_SolicitudDeCopias">
			<soap:address location="http://www.example.com" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>