SNRServicesRRRMWEB/WebContent/wsdl/BS_SBB_CB_RRRMatriculasPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ee/RRRMatriculas/v1" xmlns:bachue5="https://www.supernotariado.gov.co/schemas/bachue/ee/RRRMatriculas/consultarRRRMatriculas/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.supernotariado.gov.co/services/bachue/ee/RRRMatriculas/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/ee/RRRMatriculas/consultarRRRMatriculas/v1">
			<xsd:complexType name="tipoEntradaConsultarRRRMatriculas">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="tipoIdentificacionPredio">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="matricula"/>
								<xsd:enumeration value="numeroPredial"/>
								<xsd:enumeration value="numeroPredialAnterior"/>
								<xsd:enumeration value="NUPRE"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="numIdentificacionPredio" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaConsultarRRRMatriculas" type="bachue5:tipoEntradaConsultarRRRMatriculas"/>
			<xsd:complexType name="tipoSalidaConsultarRRRMatriculas">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="codDepartamento" type="xsd:string"/>
					<xsd:element minOccurs="0" name="codMunicipio" type="xsd:string"/>
					<xsd:element minOccurs="0" name="codCirculoRegistral" type="xsd:string"/>
					<xsd:element minOccurs="0" name="numMatriculaInmobiliaria" type="xsd:string"/>
					<xsd:element minOccurs="0" name="listaDerechos">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="derecho">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element minOccurs="0" name="numAnotacion" type="xsd:string"/>
											<xsd:element minOccurs="0" name="comentario" type="xsd:string"/>
											<xsd:element minOccurs="0" name="fechaAnotacion" type="xsd:dateTime"/>
											<xsd:element minOccurs="0" name="codNaturalezaJuridicaFolio" type="xsd:string"/>
											<xsd:element minOccurs="0" name="nomNaturalezaJuridicaFolio" type="xsd:string"/>
											<xsd:element minOccurs="0" name="dominioDRR" type="xsd:string"/>
											<xsd:element minOccurs="0" name="intervinientes">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" minOccurs="0" name="interviniente">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element minOccurs="0" name="tipoDocumentoPersona" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="numDocumentoPersona" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="primerNombre" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="segundoNombre" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="primerApellido" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="segundoApellido" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="razonSocial" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="rolInterviniente" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="tipoParteInteresada" type="xsd:string"/>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="listaRestricciones">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="restriccion">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element minOccurs="0" name="numAnotacion" type="xsd:string"/>
											<xsd:element minOccurs="0" name="comentario" type="xsd:string"/>
											<xsd:element minOccurs="0" name="fechaAnotacion" type="xsd:dateTime"/>
											<xsd:element minOccurs="0" name="codNaturalezaJuridicaFolio" type="xsd:string"/>
											<xsd:element minOccurs="0" name="nomNaturalezaJuridicaFolio" type="xsd:string"/>
											<xsd:element minOccurs="0" name="dominioDRR" type="xsd:string"/>
											<xsd:element minOccurs="0" name="intervinientes">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" minOccurs="0" name="interviniente">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element minOccurs="0" name="tipoDocumentoPersona" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="numDocumentoPersona" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="primerNombre" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="segundoNombre" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="primerApellido" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="segundoApellido" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="razonSocial" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="rolInterviniente" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="tipoParteInteresada" type="xsd:string"/>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="listaResponsabilidades" nillable="true">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="responsabilidad">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element minOccurs="0" name="numAnotacion" type="xsd:string"/>
											<xsd:element minOccurs="0" name="comentario" type="xsd:string"/>
											<xsd:element minOccurs="0" name="fechaAnotacion" type="xsd:dateTime"/>
											<xsd:element minOccurs="0" name="codNaturalezaJuridicaFolio" type="xsd:string"/>
											<xsd:element minOccurs="0" name="nomNaturalezaJuridicaFolio" type="xsd:string"/>
											<xsd:element minOccurs="0" name="dominioDRR" type="xsd:string"/>
											<xsd:element minOccurs="0" name="intervinientes">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" minOccurs="0" name="interviniente">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element minOccurs="0" name="tipoDocumentoPersona" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="numDocumentoPersona" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="primerNombre" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="segundoNombre" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="primerApellido" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="segundoApellido" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="razonSocial" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="rolInterviniente" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="tipoParteInteresada" type="xsd:string"/>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="listaPublicidades">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="publicidad">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element minOccurs="0" name="numAnotacion" type="xsd:string"/>
											<xsd:element minOccurs="0" name="comentario" type="xsd:string"/>
											<xsd:element minOccurs="0" name="fechaAnotacion" type="xsd:dateTime"/>
											<xsd:element minOccurs="0" name="codNaturalezaJuridicaFolio" type="xsd:string"/>
											<xsd:element minOccurs="0" name="nomNaturalezaJuridicaFolio" type="xsd:string"/>
											<xsd:element minOccurs="0" name="dominioDRR" type="xsd:string"/>
											<xsd:element minOccurs="0" name="intervinientes">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" minOccurs="0" name="interviniente">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element minOccurs="0" name="tipoDocumentoPersona" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="numDocumentoPersona" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="primerNombre" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="segundoNombre" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="primerApellido" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="segundoApellido" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="razonSocial" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="rolInterviniente" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="tipoParteInteresada" type="xsd:string"/>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="listaHipotecas">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="hipoteca">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element minOccurs="0" name="numAnotacion" type="xsd:string"/>
											<xsd:element minOccurs="0" name="comentario" type="xsd:string"/>
											<xsd:element minOccurs="0" name="fechaAnotacion" type="xsd:dateTime"/>
											<xsd:element minOccurs="0" name="codNaturalezaJuridicaFolio" type="xsd:string"/>
											<xsd:element minOccurs="0" name="nomNaturalezaJuridicaFolio" type="xsd:string"/>
											<xsd:element minOccurs="0" name="dominioDRR" type="xsd:string"/>
											<xsd:element minOccurs="0" name="intervinientes">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" minOccurs="0" name="interviniente">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element minOccurs="0" name="tipoDocumentoPersona" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="numDocumentoPersona" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="primerNombre" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="segundoNombre" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="primerApellido" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="segundoApellido" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="razonSocial" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="rolInterviniente" type="xsd:string"/>
																	<xsd:element minOccurs="0" name="tipoParteInteresada" type="xsd:string"/>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaConsultarRRRMatriculas" type="bachue5:tipoSalidaConsultarRRRMatriculas"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ConsultarRRRMatriculas_Request">
		<wsdl:part element="bachue5:entradaConsultarRRRMatriculas" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ConsultarRRRMatriculas_Response">
		<wsdl:part element="bachue5:salidaConsultarRRRMatriculas" name="salida"/>
	</wsdl:message>
	<wsdl:portType name="BS_SBB_CB_RRRMatriculas">
		<wsdl:operation name="ConsultarRRRMatriculas">
			<wsdl:input message="bachue:ConsultarRRRMatriculas_Request"/>
			<wsdl:output message="bachue:ConsultarRRRMatriculas_Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BS_SBB_CB_RRRMatriculas" type="bachue:BS_SBB_CB_RRRMatriculas">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ConsultarRRRMatriculas">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/ee/RRRMatriculas/v1/ConsultarRRRMatriculas" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BS_SBB_CB_RRRMatriculas">
		<wsdl:port binding="bachue:BS_SBB_CB_RRRMatriculas" name="BS_SBB_CB_RRRMatriculasPort">
			<soap:address location="http://localhost:7001/SNRServicesRRRMWEB/services/BS_SBB_CB_RRRMatriculasPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
