SNRServicesMCOWEB/WebContent/wsdl/BS_SBB_CB_MutacionesCuartoOrdenPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ee/mutacionescuartoOrden/v1" xmlns:bachue5="https://www.supernotariado.gov.co/schemas/bachue/ee/mutacionesCuartoOrden/registrarCambioCuartoOrden/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.supernotariado.gov.co/services/bachue/ee/mutacionescuartoOrden/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/ee/mutacionesCuartoOrden/registrarCambioCuartoOrden/v1">
			<xsd:complexType name="tipoEntradaRegistrarCambioCuartoOrden">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="codDepartamento" type="xsd:string"/>
					<xsd:element minOccurs="0" name="codMunicipio" type="xsd:string"/>
					<xsd:element minOccurs="0" name="tipoIdentificacionPredio">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="matricula"/>
								<xsd:enumeration value="numeroPredial"/>
								<xsd:enumeration value="numeroPredialAnterior"/>
								<xsd:enumeration value="NUPRE"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="numIdentificacionPredio" type="xsd:string"/>
					<xsd:element minOccurs="0" name="avaluoPredio" type="xsd:string"/>
					<xsd:element minOccurs="0" name="fechaAvaluo" type="xsd:dateTime"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaRegistrarCambioCuartoOrden" type="bachue5:tipoEntradaRegistrarCambioCuartoOrden"/>
			<xsd:complexType name="tipoSalidaRegistrarCambioCuartoOrden">
				<xsd:sequence>
					<xsd:element name="codMensaje" type="xsd:string"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaRegistrarCambioCuartoOrden" type="bachue5:tipoSalidaRegistrarCambioCuartoOrden"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RegistraCambioCuartoOrden_Request">
		<wsdl:part element="bachue5:entradaRegistrarCambioCuartoOrden" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="RegistraCambioCuartoOrden_Response">
		<wsdl:part element="bachue5:salidaRegistrarCambioCuartoOrden" name="salida"/>
	</wsdl:message>
	<wsdl:portType name="BS_SBB_CB_MutacionesCuartoOrden">
		<wsdl:operation name="RegistraCambioCuartoOrden">
			<wsdl:input message="bachue:RegistraCambioCuartoOrden_Request"/>
			<wsdl:output message="bachue:RegistraCambioCuartoOrden_Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BS_SBB_CB_MutacionesCuartoOrden" type="bachue:BS_SBB_CB_MutacionesCuartoOrden">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="RegistraCambioCuartoOrden">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/ee/mutacionescuartoOrden/v1/RegistraCambioCuartoOrden" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BS_SBB_CB_MutacionesCuartoOrden">
		<wsdl:port binding="bachue:BS_SBB_CB_MutacionesCuartoOrden" name="BS_SBB_CB_MutacionesCuartoOrdenPort">
			<soap:address location="http://localhost:7001/SNRServicesMCOWEB/services/BS_SBB_CB_MutacionesCuartoOrdenPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
