SNRServicesCCWEB/WebContent/wsdl/SDI_CB_ConsultaCatalogos.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/consultacatalogos/v1"
	xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/cb/consultacatalogos/consultarcatalogos/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/consultacatalogos/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/consultacatalogos/consultarcatalogos/v1">
			<xsd:complexType name="tipoEntradaConsultarCatalogos">
				<xsd:sequence>
					<xsd:element name="modulo" type="xsd:string" />
					<xsd:element name="catalogo" type="xsd:string" />
					<xsd:element minOccurs="0" name="parametro"
						nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaConsultarCatalogos"
				type="bachue1:tipoEntradaConsultarCatalogos" />
			<xsd:complexType name="tipoSalidaConsultarCatalogos">
				<xsd:sequence>
					<xsd:element name="catalogos">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0"
									name="catalogo" type="bachue1:tiposCatalogos" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigoMensaje">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="200" />
								<xsd:enumeration value="409" />
								<xsd:enumeration value="500" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="descripcionMensaje"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- Tipo complejo tiposCatalogos -->
			<xsd:complexType name="tiposCatalogos">
				<xsd:sequence>
					<xsd:element name="codigo" type="xsd:string" />
					<xsd:element minOccurs="0" name="nombre"
						nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaConsultarCatalogos"
				type="bachue1:tipoSalidaConsultarCatalogos" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ConsultarCatalogos_Request">
		<wsdl:part element="bachue1:entradaConsultarCatalogos"
			name="entrada" />
	</wsdl:message>
	<wsdl:message name="ConsultarCatalogos_Response">
		<wsdl:part element="bachue1:salidaConsultarCatalogos"
			name="salida" />
	</wsdl:message>
	<wsdl:portType name="SDI_CB_ConsultaCatalogos">
		<wsdl:operation name="ConsultarCatalogos">
			<wsdl:input message="bachue:ConsultarCatalogos_Request" />
			<wsdl:output message="bachue:ConsultarCatalogos_Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SDI_CB_ConsultaCatalogosSOAP12Binding"
		type="bachue:SDI_CB_ConsultaCatalogos">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ConsultarCatalogos">
			<soap:operation
				soapAction="https://www.supernotariado.gov.co/services/bachue/cb/consultacatalogos/v1/ConsultarCatalogos"
				style="document" />
			<wsdl:input>
				<soap:body parts="entrada" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SDI_CB_ConsultaCatalogosService">
		<wsdl:port
			binding="bachue:SDI_CB_ConsultaCatalogosSOAP12Binding"
			name="SDI_CB_ConsultaCatalogos">
			<soap:address
				location="http://localhost:7001/SNRServicesCCWEB/services/SDI_CB_ConsultaCatalogos" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
