SNRServicesSCWEB/WebContent/wsdl/SDI_CB_SolicitudDeCorreccionPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ee/solicituddecorreccion/v1"
	xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecorreccion/obtenercausalescorreccion/v1"
	xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecorreccion/ingresosolicitud/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/ee/solicituddecorreccion/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecorreccion/obtenercausalescorreccion/v1">
			<xsd:complexType name="tipoObtenerCausalesCorreccion" />
			<xsd:element name="entradaObtenerCausalesCorreccion"
				type="bachue1:tipoObtenerCausalesCorreccion" />
			<xsd:complexType
				name="tipoSalidaObtenerCausalesCorreccion">
				<xsd:sequence>
					<xsd:element name="listaCausales">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0"
									name="Causal">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="idGrupoCausal"
												type="xsd:string" />
											<xsd:element name="descGrupoCausal"
												type="xsd:string" />
											<xsd:element name="idCausalCorreccion"
												type="xsd:string" />
											<xsd:element name="descCausalCorreccion"
												type="xsd:string" />
											<xsd:element name="descripcionCausal"
												type="xsd:string" />
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigo">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="200" />
								<xsd:enumeration value="404" />
								<xsd:enumeration value="500" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="mensaje" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaObtenerCausalesCorreccion"
				type="bachue1:tipoSalidaObtenerCausalesCorreccion" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecorreccion/ingresosolicitud/v1">
			<xsd:complexType name="tipoEntradaIngresoSolicitud">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="interesado">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="tipoDocumentoPersona">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="RE" />
											<xsd:enumeration value="TI" />
											<xsd:enumeration value="CC" />
											<xsd:enumeration value="CE" />
											<xsd:enumeration value="PE" />
											<xsd:enumeration value="PTP" />
											<xsd:enumeration value="PA" />
											<xsd:enumeration value="NUIP" />
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="numDocumentoPersona"
									type="xsd:string" />
								<xsd:element name="primerNombre" type="xsd:string" />
								<xsd:element minOccurs="0" name="segundoNombre"
									type="xsd:string" />
								<xsd:element name="primerApellido" type="xsd:string" />
								<xsd:element minOccurs="0" name="segundoApellido"
									type="xsd:string" />
								<xsd:element name="codGenero" type="xsd:string" />
								<xsd:element name="email" type="xsd:string" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="observacion" type="xsd:string" />
					<xsd:element name="matriculas">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="matricula">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="codCirculoRegistral"
												type="xsd:string" />
											<xsd:element name="numMatriculaInmobiliaria"
												type="xsd:string" />
											<xsd:element name="datosCorregir">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded"
															name="datoCorregir">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="idGrupoCausal"
																		type="xsd:string" />
																	<xsd:element name="idCausalCorreccion"
																		type="xsd:string" />
																	<xsd:element name="observacion"
																		type="xsd:string" />
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaIngresoSolicitud"
				type="bachue2:tipoEntradaIngresoSolicitud" />
			<xsd:complexType name="tipoSalidaIngresoSolicitud">
				<xsd:sequence>
					<xsd:element name="NIR" type="xsd:string" />
					<xsd:element name="codigo">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="200" />
								<xsd:enumeration value="404" />
								<xsd:enumeration value="500" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="mensaje" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaIngresoSolicitud"
				type="bachue2:tipoSalidaIngresoSolicitud" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ObtenerCausalesCorreccion_Request">
		<wsdl:part
			element="bachue1:entradaObtenerCausalesCorreccion" name="entrada" />
	</wsdl:message>
	<wsdl:message name="ObtenerCausalesCorreccion_Response">
		<wsdl:part element="bachue1:salidaObtenerCausalesCorreccion"
			name="salida" />
	</wsdl:message>
	<wsdl:message name="IngresoSolicitud_Request">
		<wsdl:part element="bachue2:entradaIngresoSolicitud"
			name="entrada" />
	</wsdl:message>
	<wsdl:message name="IngresoSolicitud_Response">
		<wsdl:part element="bachue2:salidaIngresoSolicitud"
			name="salida" />
	</wsdl:message>
	<wsdl:portType name="SDI_CB_SolicitudDeCorreccion">
		<wsdl:operation name="ObtenerCausalesCorreccion">
			<wsdl:input
				message="bachue:ObtenerCausalesCorreccion_Request" />
			<wsdl:output
				message="bachue:ObtenerCausalesCorreccion_Response" />
		</wsdl:operation>
		<wsdl:operation name="IngresoSolicitud">
			<wsdl:input message="bachue:IngresoSolicitud_Request" />
			<wsdl:output message="bachue:IngresoSolicitud_Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SDI_CB_SolicitudDeCorreccion"
		type="bachue:SDI_CB_SolicitudDeCorreccion">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ObtenerCausalesCorreccion">
			<soap:operation
				soapAction="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecorreccion/obtenercausalescorreccion/v1"
				style="document" />
			<wsdl:input>
				<soap:body parts="entrada" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="IngresoSolicitud">
			<soap:operation
				soapAction="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecorreccion/ingresosolicitud/v1"
				style="document" />
			<wsdl:input>
				<soap:body parts="entrada" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SDI_CB_SolicitudDeCorreccion">
		<wsdl:port binding="bachue:SDI_CB_SolicitudDeCorreccion"
			name="SDI_CB_SolicitudDeCorreccionPort">
			<soap:address
				location="http://localhost:7001/SNRServicesSCWEB/services/SDI_CB_SolicitudDeCorreccionPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
