SNRServicesCYNWEB/WebContent/wsdl/SUT_CN_NotificadorCorrespondenciaPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cn/notificadorcorrespondencia/v1" xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/cn/notificadorcorrespondencia/notificarcorrespondencia/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.supernotariado.gov.co/services/bachue/cn/notificadorcorrespondencia/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cn/notificadorcorrespondencia/notificarcorrespondencia/v1" version="1.3">
			<xsd:complexType name="tipoEntradaNotificarCorrespondencia">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="identificador" type="xsd:string"/>
					<xsd:element minOccurs="0" name="guia" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="fechaAcuse" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="fechaEnvio" type="xsd:dateTime"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaNotificarCorrespondencia" type="bachue1:tipoEntradaNotificarCorrespondencia"/>
			<xsd:complexType name="tipoSalidaNotificarCorrespondencia">
				<xsd:sequence maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaNotificarCorrespondencia" type="bachue1:tipoSalidaNotificarCorrespondencia"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="NotificarCorrespondencia_Request">
		<wsdl:part element="bachue1:entradaNotificarCorrespondencia" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="NotificarCorrespondencia_Response">
		<wsdl:part element="bachue1:salidaNotificarCorrespondencia" name="salida"/>
	</wsdl:message>

	<wsdl:portType name="SUT_CN_NotificadorCorrespondencia">
		<wsdl:operation name="NotificarCorrespondencia">
			<wsdl:input message="bachue:NotificarCorrespondencia_Request"/>
			<wsdl:output message="bachue:NotificarCorrespondencia_Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SUT_CN_NotificadorCorrespondenciaSOAP12Binding" type="bachue:SUT_CN_NotificadorCorrespondencia">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="NotificarCorrespondencia">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cn/notificadorcorrespondencia/v1/NotificarCorrespondencia" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SUT_CN_NotificadorCorrespondencia">
		<wsdl:port binding="bachue:SUT_CN_NotificadorCorrespondenciaSOAP12Binding" name="SUT_CN_NotificadorCorrespondenciaPort">
			<soap:address location="http://localhost:7001/SNRServicesCYNWEB/services/SUT_CN_NotificadorCorrespondenciaPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
