SNRServicesMQOWEB/WebContent/wsdl/SBB_CB_MutacionesQuintoOrdenPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/mutacionesQuintoOrden/v1" xmlns:bachue5="https://www.supernotariado.gov.co/schemas/bachue/cb/mutacionesQuintoOrden/registrarCambioQuintoOrden/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/mutacionesQuintoOrden/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/mutacionesQuintoOrden/registrarCambioQuintoOrden/v1">
			<xsd:complexType name="tipoEntradaRegistrarCambioQuintoOrden">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="tipoIdentificacionPredio">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="matricula"/>
								<xsd:enumeration value="numeroPredial"/>
								<xsd:enumeration value="numeroPredialAnterior"/>
								<xsd:enumeration value="NUPRE"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="numIdentificacionPredio" type="xsd:string"/>
					<xsd:element minOccurs="0" name="codDepartamento" type="xsd:string"/>
					<xsd:element minOccurs="0" name="codMunicipio" type="xsd:string"/>
					<xsd:element minOccurs="0" name="predio">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" name="numPredial" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaRegistrarCambioQuintoOrden" type="bachue5:tipoEntradaRegistrarCambioQuintoOrden"/>
			<xsd:complexType name="tipoSalidaRegistrarCambioQuintoOrden">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="numIdentificacionPredio" type="xsd:string"/>
					<xsd:element minOccurs="0" name="tipoPredio" type="xsd:string"/>
					<xsd:element name="codMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaRegistrarCambioQuintoOrden" type="bachue5:tipoSalidaRegistrarCambioQuintoOrden"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RegistraCambioQuintoOrden_Request">
		<wsdl:part element="bachue5:entradaRegistrarCambioQuintoOrden" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="RegistraCambioQuintoOrden_Response">
		<wsdl:part element="bachue5:salidaRegistrarCambioQuintoOrden" name="salida"/>
	</wsdl:message>
	<wsdl:portType name="SBB_CB_MutacionesQuintoOrden">
		<wsdl:operation name="RegistraCambioQuintoOrden">
			<wsdl:input message="bachue:RegistraCambioQuintoOrden_Request"/>
			<wsdl:output message="bachue:RegistraCambioQuintoOrden_Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SBB_CB_MutacionesQuintoOrden" type="bachue:SBB_CB_MutacionesQuintoOrden">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="RegistraCambioQuintoOrden">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/mutacionesQuintoOrden/v1/RegistraCambioQuintoOrden" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SBB_CB_MutacionesQuintoOrden">
		<wsdl:port binding="bachue:SBB_CB_MutacionesQuintoOrden" name="SBB_CB_MutacionesQuintoOrdenPort">
			<soap:address location="http://localhost:7001/SNRServicesMQOWEB/services/SBB_CB_MutacionesQuintoOrdenPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
