SNRServicesCDWEB/WebContent/wsdl/SUT_CB_ControlDigitalizacionPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/controldigitalizacion/v1"
	xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/cb/controldigitalizacion/notificardigitalizacion/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/controldigitalizacion/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/controldigitalizacion/notificardigitalizacion/v1">
			<xsd:complexType
				name="tipoEntradaNotificarDigitalizacion">
				<xsd:sequence>
					<xsd:element name="sistemaOrigen" type="xsd:string" />
					<xsd:element name="identificadorTramite"
						type="xsd:string" />
					<xsd:element name="estado" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="entradaNotificarDigitalizacion"
				type="bachue1:tipoEntradaNotificarDigitalizacion" />

			<xsd:complexType
				name="tipoSalidaNotificarDigitalizacion">
				<xsd:sequence>
					<xsd:element name="codigoMensaje" type="xsd:integer" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="descripcionMensaje" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="salidaNotificarDigitalizacion"
				type="bachue1:tipoSalidaNotificarDigitalizacion" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="NotificarDigitalizacion_Request">
		<wsdl:part element="bachue1:entradaNotificarDigitalizacion"
			name="entrada" />
	</wsdl:message>
	<wsdl:message name="NotificarDigitalizacion_Response">
		<wsdl:part element="bachue1:salidaNotificarDigitalizacion"
			name="salida" />
	</wsdl:message>

	<wsdl:portType name="SUT_CB_ControlDigitalizacion">
		<wsdl:operation name="NotificarDigitalizacion">
			<wsdl:input
				message="bachue:NotificarDigitalizacion_Request" />
			<wsdl:output
				message="bachue:NotificarDigitalizacion_Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding
		name="SUT_CB_ControlDigitalizacionSOAP12Binding"
		type="bachue:SUT_CB_ControlDigitalizacion">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NotificarDigitalizacion">
			<soap:operation
				soapAction="https://www.supernotariado.gov.co/services/bachue/cb/controldigitalizacion/v1/NotificarDigitalizacion"
				style="document" />
			<wsdl:input>
				<soap:body parts="entrada" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SUT_CB_ControlDigitalizacion">
		<wsdl:port
			binding="bachue:SUT_CB_ControlDigitalizacionSOAP12Binding"
			name="SUT_CB_ControlDigitalizacionPort">
			<soap:address
				location="http://localhost:7001/SNRServicesCDWEB/services/SUT_CB_ControlDigitalizacionPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
