SNRServicesCAWEB/WebContent/wsdl/SUT_CB_GestionUsuariosPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/gestionusuarios/v1" xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerconveniosentidad/v1" xmlns:bachue10="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenermodulosporrol/v1" xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerentidadesconvenio/v1" xmlns:bachue3="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerorips/v1" xmlns:bachue4="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerroles/v1" xmlns:bachue5="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/registrarusuario/v1" xmlns:bachue6="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerrolesusuario/v1" xmlns:bachue7="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerrolescomponente/v1" xmlns:bachue8="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerusuariosrolorip/v1" xmlns:bachue9="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obteneraccesosporrol/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/gestionusuarios/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerconveniosentidad/v1">
			<xsd:complexType name="tipoEntradaObtenerConveniosEntidad">
				<xsd:sequence>
					<xsd:element name="codigoEntidad" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaObtenerConveniosEntidad" type="bachue1:tipoEntradaObtenerConveniosEntidad"/>
			<xsd:complexType name="tipoSalidaObtenerConveniosEntidad">
				<xsd:sequence>
					<xsd:element name="convenios">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="convenio" type="bachue1:tipoConvenio"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoConvenio">
				<xsd:sequence>
					<xsd:element name="codigoConvenio" type="xsd:string"/>
					<xsd:element name="descripcionConvenio" type="xsd:string"/>
					<xsd:element name="fechaInicio" type="xsd:string"/>
					<xsd:element name="fechaFinalizacion" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaObtenerConveniosEntidad" type="bachue1:tipoSalidaObtenerConveniosEntidad"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerentidadesconvenio/v1">
			<xsd:element name="entradaObtenerEntidadesConvenio">
				<xsd:complexType/>
			</xsd:element>
			<xsd:complexType name="tipoSalidaObtenerEntidadesConvenio">
				<xsd:sequence>
					<xsd:element name="entidades">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="entidad" type="bachue2:tipoEntidad"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoEntidad">
				<xsd:sequence>
					<xsd:element name="codigoEntidad" type="xsd:string"/>
					<xsd:element name="nombreEntidad" type="xsd:string"/>
					<xsd:element name="codigoPais" type="xsd:integer"/>
					<xsd:element name="codigoDepartamento" type="xsd:integer"/>
					<xsd:element name="codigoMunicipio" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaObtenerEntidadesConvenio" type="bachue2:tipoSalidaObtenerEntidadesConvenio"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerorips/v1">
			<xsd:element name="entradaObtenerORIPs">
				<xsd:complexType/>
			</xsd:element>
			<xsd:complexType name="tipoSalidaObtenerORIPs">
				<xsd:sequence>
					<xsd:element name="orips">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="orip" type="bachue3:tipoOrip"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoOrip">
				<xsd:sequence>
					<xsd:element name="codigoORIP" type="xsd:string"/>
					<xsd:element name="nombreORIP" type="xsd:string"/>
					<xsd:element name="codigoDepartamento" type="xsd:integer"/>
					<xsd:element name="nombreDepartamento" type="xsd:string"/>
					<xsd:element name="codigoMunicipio" type="xsd:integer"/>
					<xsd:element name="nombreMunicipio" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaObtenerORIPs" type="bachue3:tipoSalidaObtenerORIPs"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerroles/v1">
			<xsd:element name="entradaObtenerRoles">
				<xsd:complexType/>
			</xsd:element>
			<xsd:complexType name="tipoSalidaObtenerRoles">
				<xsd:sequence>
					<xsd:element name="roles">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="rol" type="bachue4:rolTypeOR"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="rolTypeOR">
				<xsd:sequence>
					<xsd:element name="codigoRol" type="xsd:string"/>
					<xsd:element name="nombreRol" type="xsd:string"/>
					<xsd:element name="componente" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaObtenerRoles" type="bachue4:tipoSalidaObtenerRoles"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/registrarusuario/v1">
			<xsd:complexType name="tipoEntradaRegistrarUsuario">
				<xsd:sequence>
					<xsd:element name="numeroSolicitud" type="xsd:string"/>
					<xsd:element name="loginUsuario" type="xsd:string"/>
					<xsd:element name="tipoDocumento" type="xsd:string"/>
					<xsd:element name="numeroDocumento" type="xsd:string"/>
					<xsd:element name="primerNombreUsuario" type="xsd:string"/>
					<xsd:element name="segundoNombreUsuario" type="xsd:string"/>
					<xsd:element name="primerApellidoUsuario" type="xsd:string"/>
					<xsd:element name="segundoApellidoUsuario" type="xsd:string"/>
					<xsd:element minOccurs="0" name="correoElectronicoCorporativo" nillable="true" type="xsd:string"/>
					<xsd:element name="correoElectronicoPersonal" type="xsd:string"/>
					<xsd:element name="tipoCambio">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Creacion"/>
								<xsd:enumeration value="Modificacion"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="segundoFactor">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Huella"/>
								<xsd:enumeration value="SegundaClave"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="codigosRoles">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="codigoRol" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigosORIPs">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="codigoORIP" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="codigoConvenio" nillable="true" type="xsd:string"/>
					<xsd:element minOccurs="0" name="idEntidadExterna" nillable="true" type="xsd:string"/>
					<xsd:element name="estadoUsuario">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="A"/>
								<xsd:enumeration value="P"/>
								<xsd:enumeration value="L"/>
								<xsd:enumeration value="I"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="cargo" type="xsd:string"/>
					<xsd:element name="justificacionCambio" type="xsd:string"/>
					<xsd:element name="fechaInicio" type="xsd:dateTime"/>
					<xsd:element name="fechaFin" type="xsd:dateTime"/>
					<xsd:element name="fechaVigenciaSegundaClave" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="idPolitica" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaRegistrarUsuario" type="bachue5:tipoEntradaRegistrarUsuario"/>
			<xsd:complexType name="tipoSalidaRegistrarUsuario">
				<xsd:sequence maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaRegistrarUsuario" type="bachue5:tipoSalidaRegistrarUsuario"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerrolesusuario/v1">
			<xsd:complexType name="tipoEntradaObtenerRolesUsuario">
				<xsd:sequence>
					<xsd:element name="loginUsuario" type="xsd:string"/>
					<xsd:element name="componente" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaObtenerRolesUsuario" type="bachue6:tipoEntradaObtenerRolesUsuario"/>
			<xsd:complexType name="tipoSalidaObtenerRolesUsuario">
				<xsd:sequence>
					<xsd:element name="roles">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="rol" type="bachue6:rolTypeORU"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="rolTypeORU">
				<xsd:sequence>
					<xsd:element name="codigoRol" type="xsd:string"/>
					<xsd:element name="nombreRol" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaObtenerRolesUsuario" type="bachue6:tipoSalidaObtenerRolesUsuario"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerrolescomponente/v1">
			<xsd:complexType name="tipoEntradaObtenerRolesComponente">
				<xsd:sequence>
					<xsd:element name="componente" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaObtenerRolesComponente" type="bachue7:tipoEntradaObtenerRolesComponente"/>
			<xsd:complexType name="tipoSalidaObtenerRolesComponente">
				<xsd:sequence>
					<xsd:element name="roles">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="rol" type="bachue7:rolTypeORC"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="rolTypeORC">
				<xsd:sequence>
					<xsd:element name="codigoRol" type="xsd:string"/>
					<xsd:element name="nombreRol" type="xsd:string"/>
					<xsd:element name="componente" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaObtenerRolesComponente" type="bachue7:tipoSalidaObtenerRolesComponente"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenerusuariosrolorip/v1">
			<xsd:complexType name="tipoEntradaObtenerUsuariosRolOrip">
				<xsd:sequence>
					<xsd:element name="codigoCirculo" type="xsd:string"/>
					<xsd:element name="codigoRol" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaObtenerUsuariosRolOrip" type="bachue8:tipoEntradaObtenerUsuariosRolOrip"/>
			<xsd:complexType name="tipoSalidaObtenerUsuariosRolOrip">
				<xsd:sequence>
					<xsd:element name="usuarios">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="usuario" nillable="true" type="bachue8:tipoUsuario"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoUsuario">
				<xsd:sequence>
					<xsd:element name="primerNombre" type="xsd:string"/>
					<xsd:element name="segundoNombre" type="xsd:string"/>
					<xsd:element name="primerApellido" type="xsd:string"/>
					<xsd:element name="segundoApellido" type="xsd:string"/>
					<xsd:element name="idUsuario" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaObtenerUsuariosRolOrip" type="bachue8:tipoSalidaObtenerUsuariosRolOrip"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obteneraccesosporrol/v1">
			<xsd:complexType name="tipoEntradaObtenerAccesosPorRol">
				<xsd:sequence>
					<xsd:element name="codigoRol" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaObtenerAccesosPorRol" type="bachue9:tipoEntradaObtenerAccesosPorRol"/>
			<xsd:complexType name="tipoSalidaObtenerAccesosPorRol">
				<xsd:sequence>
					<xsd:element name="accesos">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="acceso" nillable="true" type="bachue9:tipoAcceso"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoAcceso">
				<xsd:sequence>
					<xsd:element name="idOpcion" type="xsd:string"/>
					<xsd:element name="opcion" type="xsd:string"/>
					<xsd:element name="descripcion" type="xsd:string"/>
					<xsd:element name="opcionPadre" type="xsd:string"/>
					<xsd:element name="tipo" type="xsd:string"/>
					<xsd:element name="url" type="xsd:string"/>
					<xsd:element name="fechaDesde" type="xsd:string"/>
					<xsd:element name="fechaHasta" type="xsd:string"/>
					<xsd:element name="activo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaObtenerAccesosPorRol" type="bachue9:tipoSalidaObtenerAccesosPorRol"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/gestionusuarios/obtenermodulosporrol/v1">
			<xsd:complexType name="tipoEntradaObtenerModulosPorRol">
				<xsd:sequence>
					<xsd:element name="codigoRol" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaObtenerModulosPorRol" type="bachue10:tipoEntradaObtenerModulosPorRol"/>
			<xsd:complexType name="tipoSalidaObtenerModulosPorRol">
				<xsd:sequence>
					<xsd:element name="modulos">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="modulo" nillable="true" type="bachue10:tipoModulo"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoModulo">
				<xsd:sequence>
					<xsd:element name="idComponente" type="xsd:string"/>
					<xsd:element name="nombre" type="xsd:string"/>
					<xsd:element name="activo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaObtenerModulosPorRol" type="bachue10:tipoSalidaObtenerModulosPorRol"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ObtenerConveniosEntidad_Request">
		<wsdl:part element="bachue1:entradaObtenerConveniosEntidad" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ObtenerConveniosEntidad_Response">
		<wsdl:part element="bachue1:salidaObtenerConveniosEntidad" name="salida"/>
	</wsdl:message>
	<wsdl:message name="ObtenerEntidadesConvenio_Request">
		<wsdl:part element="bachue2:entradaObtenerEntidadesConvenio" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ObtenerEntidadesConvenio_Response">
		<wsdl:part element="bachue2:salidaObtenerEntidadesConvenio" name="salida"/>
	</wsdl:message>
	<wsdl:message name="ObtenerORIPs_Request">
		<wsdl:part element="bachue3:entradaObtenerORIPs" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ObtenerORIPs_Response">
		<wsdl:part element="bachue3:salidaObtenerORIPs" name="salida"/>
	</wsdl:message>
	<wsdl:message name="ObtenerRoles_Request">
		<wsdl:part element="bachue4:entradaObtenerRoles" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ObtenerRoles_Response">
		<wsdl:part element="bachue4:salidaObtenerRoles" name="salida"/>
	</wsdl:message>
	<wsdl:message name="RegistrarUsuario_Request">
		<wsdl:part element="bachue5:entradaRegistrarUsuario" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="RegistrarUsuario_Response">
		<wsdl:part element="bachue5:salidaRegistrarUsuario" name="salida"/>
	</wsdl:message>
	<wsdl:message name="ObtenerRolesUsuario_Request">
		<wsdl:part element="bachue6:entradaObtenerRolesUsuario" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ObtenerRolesUsuario_Response">
		<wsdl:part element="bachue6:salidaObtenerRolesUsuario" name="salida"/>
	</wsdl:message>
	<wsdl:message name="ObtenerRolesComponente_Request">
		<wsdl:part element="bachue7:entradaObtenerRolesComponente" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ObtenerRolesComponente_Response">
		<wsdl:part element="bachue7:salidaObtenerRolesComponente" name="salida"/>
	</wsdl:message>
	<wsdl:message name="ObtenerUsuariosRolOrip_Request">
		<wsdl:part element="bachue8:entradaObtenerUsuariosRolOrip" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ObtenerUsuariosRolOrip_Response">
		<wsdl:part element="bachue8:salidaObtenerUsuariosRolOrip" name="salida"/>
	</wsdl:message>
	<wsdl:message name="ObtenerAccesosPorRol_Request">
		<wsdl:part element="bachue9:entradaObtenerAccesosPorRol" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ObtenerAccesosPorRol_Response">
		<wsdl:part element="bachue9:salidaObtenerAccesosPorRol" name="salida"/>
	</wsdl:message>
	<wsdl:message name="ObtenerModulosPorRol_Request">
		<wsdl:part element="bachue10:entradaObtenerModulosPorRol" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ObtenerModulosPorRol_Response">
		<wsdl:part element="bachue10:salidaObtenerModulosPorRol" name="salida"/>
	</wsdl:message>
	<wsdl:portType name="SUT_CB_GestionUsuarios">
		<wsdl:operation name="ObtenerRoles">
			<wsdl:input message="bachue:ObtenerRoles_Request"/>
			<wsdl:output message="bachue:ObtenerRoles_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerORIPs">
			<wsdl:input message="bachue:ObtenerORIPs_Request"/>
			<wsdl:output message="bachue:ObtenerORIPs_Response"/>
		</wsdl:operation>
		<wsdl:operation name="RegistrarUsuario">
			<wsdl:input message="bachue:RegistrarUsuario_Request"/>
			<wsdl:output message="bachue:RegistrarUsuario_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerEntidadesConvenio">
			<wsdl:input message="bachue:ObtenerEntidadesConvenio_Request"/>
			<wsdl:output message="bachue:ObtenerEntidadesConvenio_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerConveniosEntidad">
			<wsdl:input message="bachue:ObtenerConveniosEntidad_Request"/>
			<wsdl:output message="bachue:ObtenerConveniosEntidad_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerRolesUsuario">
			<wsdl:input message="bachue:ObtenerRolesUsuario_Request"/>
			<wsdl:output message="bachue:ObtenerRolesUsuario_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerRolesComponente">
			<wsdl:input message="bachue:ObtenerRolesComponente_Request"/>
			<wsdl:output message="bachue:ObtenerRolesComponente_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerUsuariosRolOrip">
			<wsdl:input message="bachue:ObtenerUsuariosRolOrip_Request"/>
			<wsdl:output message="bachue:ObtenerUsuariosRolOrip_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerAccesosPorRol">
			<wsdl:input message="bachue:ObtenerAccesosPorRol_Request"/>
			<wsdl:output message="bachue:ObtenerAccesosPorRol_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerModulosPorRol">
			<wsdl:input message="bachue:ObtenerModulosPorRol_Request"/>
			<wsdl:output message="bachue:ObtenerModulosPorRol_Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SUT_CB_GestionUsuariosSOAP12Binding" type="bachue:SUT_CB_GestionUsuarios">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ObtenerRoles">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/gestionusuarios/v1/ObtenerRoles" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObtenerORIPs">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/gestionusuarios/v1/ObtenerORIPs" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RegistrarUsuario">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/gestionusuarios/v1/RegistrarUsuario" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObtenerEntidadesConvenio">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/gestionusuarios/v1/ObtenerEntidadesConvenio" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObtenerConveniosEntidad">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/gestionusuarios/v1/ObtenerConveniosEntidad" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObtenerRolesUsuario">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/gestionusuarios/v1/ObtenerRolesUsuario" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObtenerRolesComponente">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/gestionusuarios/v1/ObtenerRolesComponente" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObtenerUsuariosRolOrip">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/gestionusuarios/v1/ObtenerUsuariosRolOrip" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObtenerAccesosPorRol">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/gestionusuarios/v1/ObtenerAccesosPorRol" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObtenerModulosPorRol">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/gestionusuarios/v1/ObtenerModulosPorRol" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SUT_CB_GestionUsuarios">
		<wsdl:port binding="bachue:SUT_CB_GestionUsuariosSOAP12Binding" name="SUT_CB_GestionUsuariosPort">
			<soap:address location="http://localhost:7001/SNRServicesCAWEB/services/SUT_CB_GestionUsuariosPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
