SNRServicesCXTCWEB/WebContent/wsdl/SBB_CB_TramitesEnCursoPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/tramitesencurso/v1" xmlns:bachueCT="https://www.supernotariado.gov.co/services/bachue/cb/tramitesencurso/consultarTramites/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/tramitesencurso/v1">

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/tramitesencurso/consultarTramites/v1">
			<xsd:complexType name="tipoEntradaDatosTramites">
				<xsd:annotation>
					<xsd:documentation xml:lang="es">El esquema define los
						datos de entrada para la operacion consultarAnotaciones
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="convenio" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								Código del convenio que tiene la SNR con
								Entidades Externas que necesiten este servicio.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="tipoIdentificacionPredio" nillable="false">
						<xsd:annotation>
							<xsd:documentation>Corresponde al tipo de identificacion por el
								cual podemos buscar un predio.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="matricula">
									<xsd:annotation>
										<xsd:documentation>En el campo numIdentificacionPredio deberá
											venir los
											tres primeros caracteres del cículo y luego si el
											número de
											matrícula
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="numeroPredial">
									<xsd:annotation>
										<xsd:documentation>Corresponde al CHIP, si es Bogotá o a la
											referencia o cédula catastral del predio.
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="numeroPredialAnterior">
									<xsd:annotation>
										<xsd:documentation>Corresponde al anterior numero de
											Identifiación Predial.
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="NUPRE">
									<xsd:annotation>
										<xsd:documentation>Número Único Predial
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="numIdentificacionPredio" nillable="false">
						<xsd:annotation>
							<xsd:documentation>Al seleccionar un tipo de Identificación
								predio,
								se espera en este campo el número correspondiente; para el caso
								de
								matricula, el sistema toma los tres primeros caracteres como
								Código Circulo Registral y los siguientes como el Número de
								Matrícula Inmobiliaria.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="64"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoSalidaDatosTramites">
				<xsd:annotation>
					<xsd:documentation xml:lang="es">El esquema define los
						datos de entrada para la operacion consultarAnotaciones
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="NIR">
						<xsd:annotation>
							<xsd:documentation>Número de Identificación Registral del trámite
								en curso
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="fechaHoraNIR">
						<xsd:annotation>
							<xsd:documentation>Fecha de Solicitud</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:dateTime"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="radicacion">
						<xsd:annotation>
							<xsd:documentation>Número de turno o radicado del trámite en
								curso.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="fechaRadicacion">
						<xsd:annotation>
							<xsd:documentation>Fecha en la que se asignó el turno
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:dateTime"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="tiposActo" type="bachueCT:tipoTiposActo"/>
					<xsd:element minOccurs="0" name="oficinaOrigen">
						<xsd:annotation>
							<xsd:documentation>Entidad donde se radicó el trámite en curso
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="nomMunicipio">
						<xsd:annotation>
							<xsd:documentation>Ciudad de la ORIP que resuelve el trámite
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="codMensaje">
						<xsd:annotation>
							<xsd:documentation>200 cuando no hay error, 4* por errores de
								validación de campos de entrada o validación de negocio y 500
								cuando existen errores de sistema
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="descripcionMensaje">
						<xsd:annotation>
							<xsd:documentation>Corresponde a al mensaje de error para los
								casos
								en qeue la consulta no fue exitosa, vacío cuando la consulta es
								exitosa
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoTiposActo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="descripcionActo">
						<xsd:annotation>
							<xsd:documentation>Descripción del Acto del trámite en curso
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="valorActo">
						<xsd:annotation>
							<xsd:documentation>Valor del Acto del trámite en curso
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal"/>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaDatosTramitesEnCurso" type="bachueCT:tipoSalidaDatosTramites"/>
			<xsd:element name="entradaDatosTramitesEnCurso" type="bachueCT:tipoEntradaDatosTramites"/>
			<!-- Últimas modificaciones 2020-03-11 15:26 -->
		</xsd:schema>
	</wsdl:types>

	<!-- INICIO WSDL:mesage -->
	<wsdl:message name="ConsultarTramites_Request">
		<wsdl:part element="bachueCT:entradaDatosTramitesEnCurso" name="entrada">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="ConsultarTramites_Response">
		<wsdl:part element="bachueCT:salidaDatosTramitesEnCurso" name="salida">
		</wsdl:part>
	</wsdl:message>

	<!-- INICIO WSDL:portType -->
	<wsdl:portType name="SBB_CB_TramitesEnCurso">
		<!-- Inicio Operacion consultarTramites -->
		<wsdl:operation name="consultarTramites">
			<wsdl:input message="bachue:ConsultarTramites_Request"/>
			<wsdl:output message="bachue:ConsultarTramites_Response"/>
		</wsdl:operation>
		<!-- Fin Operacion consultarTramites -->
	</wsdl:portType>

	<!-- INICIO WSDL:binding -->
	<wsdl:binding name="SBB_CB_TramitesEnCursoSOAP12Binding" type="bachue:SBB_CB_TramitesEnCurso">

		<!-- Inicio Binding DatosTramites -->
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultarTramites">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/tramitesencurso/v1/consultarTramites" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<!-- Fin Binding DatosTramites -->
	</wsdl:binding>

	<wsdl:service name="SBB_CB_TramitesEnCurso">
		<wsdl:port binding="bachue:SBB_CB_TramitesEnCursoSOAP12Binding" name="SBB_CB_TramitesEnCursoPort">
			<soap:address location="http://localhost:7001/SNRServicesCXTCWEB/services/SBB_CB_TramitesEnCursoPort"/>
		</wsdl:port>
	</wsdl:service>
	<!-- Últimas modificaciones 2020-01-31 16:25 -->
</wsdl:definitions>
