SNRServicesCXTCWEB/WebContent/wsdl/SBB_CB_TramitesEnCurso.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/tramitesencurso/v1"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/tramitesencurso/v1"
	xmlns:bachueCT="https://www.supernotariado.gov.co/services/bachue/cb/tramitesencurso/consultarTramites/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema
			targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/tramitesencurso/consultarTramites/v1"
			elementFormDefault="qualified">
			<xsd:complexType name="tipoEntradaDatosTramites">
				<xsd:annotation>
					<xsd:documentation xml:lang="es">El esquema define los
						datos de entrada para la operacion consultarAnotaciones
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="convenio" type="xsd:string"
						minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Código del convenio que tiene la SNR con
								Entidades Externas que necesiten este servicio.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="tipoIdentificacionPredio"
						minOccurs="0" nillable="false">
						<xsd:annotation>
							<xsd:documentation>Corresponde al tipo de identificacion por el
								cual podemos buscar un predio.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="matricula">
									<xsd:annotation>
										<xsd:documentation>En el campo numIdentificacionPredio deberá
											venir los
											tres primeros caracteres del cículo y luego si el
											número de
											matrícula
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="numeroPredial">
									<xsd:annotation>
										<xsd:documentation>Corresponde al CHIP, si es Bogotá o a la
											referencia o cédula catastral del predio.
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="numeroPredialAnterior">
									<xsd:annotation>
										<xsd:documentation>Corresponde al anterior numero de
											Identifiación Predial.
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="NUPRE">
									<xsd:annotation>
										<xsd:documentation>Número Único Predial
										</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="numIdentificacionPredio"
						minOccurs="0" nillable="false">
						<xsd:annotation>
							<xsd:documentation>Al seleccionar un tipo de Identificación
								predio,
								se espera en este campo el número correspondiente; para
								el caso
								de
								matricula, el sistema toma los tres primeros caracteres
								como
								Código Circulo Registral y los siguientes como el Número de
								Matrícula Inmobiliaria.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="64" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoSalidaDatosTramites">
				<xsd:annotation>
					<xsd:documentation xml:lang="es">El esquema define los
						datos de entrada para la operacion consultarAnotaciones
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="NIR" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Número de Identificación Registral del trámite
								en curso
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"></xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="fechaHoraNIR" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Fecha de Solicitud</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:dateTime" />
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="radicacion" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Número de turno o radicado del trámite en
								curso.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"></xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="fechaRadicacion" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Fecha en la que se asignó el turno
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:dateTime" />
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="tiposActo" minOccurs="0"
						maxOccurs="unbounded" type="bachueCT:tipoTiposActo" />
					<xsd:element name="oficinaOrigen" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Entidad donde se radicó el trámite en curso
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"></xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="nomMunicipio" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Ciudad de la ORIP que resuelve el trámite
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"></xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="codMensaje" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>200 cuando no hay error, 4* por errores de
								validación de campos de entrada o validación de negocio y 500
								cuando existen errores de sistema
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:integer"></xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="descripcionMensaje" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Corresponde a al mensaje de error para los
								casos
								en qeue la consulta no fue exitosa, vacío cuando la
								consulta es
								exitosa
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"></xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tipoTiposActo">
				<xsd:sequence>
					<xsd:element name="descripcionActo" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Descripción del Acto del trámite en curso
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"></xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="valorActo" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Valor del Acto del trámite en curso
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal" />
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaDatosTramitesEnCurso"
				type="bachueCT:tipoSalidaDatosTramites" />
			<xsd:element name="entradaDatosTramitesEnCurso"
				type="bachueCT:tipoEntradaDatosTramites" />
			<!-- Últimas modificaciones 2020-03-11 15:26 -->
		</xsd:schema>
	</wsdl:types>

	<!-- INICIO WSDL:mesage -->
	<wsdl:message name="ConsultarTramites_Request">
		<wsdl:part name="entrada"
			element="bachueCT:entradaDatosTramitesEnCurso">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="ConsultarTramites_Response">
		<wsdl:part name="salida"
			element="bachueCT:salidaDatosTramitesEnCurso">
		</wsdl:part>
	</wsdl:message>

	<!-- INICIO WSDL:portType -->
	<wsdl:portType name="SBB_CB_TramitesEnCurso">
		<!-- Inicio Operacion consultarTramites -->
		<wsdl:operation name="consultarTramites">
			<wsdl:input message="bachue:ConsultarTramites_Request"></wsdl:input>
			<wsdl:output message="bachue:ConsultarTramites_Response"></wsdl:output>
		</wsdl:operation>
		<!-- Fin Operacion consultarTramites -->
	</wsdl:portType>

	<!-- INICIO WSDL:binding -->
	<wsdl:binding name="SBB_CB_TramitesEnCursoSOAP12Binding"
		type="bachue:SBB_CB_TramitesEnCurso">

		<!-- Inicio Binding DatosTramites -->
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="consultarTramites">
			<soap:operation style="document"
				soapAction="https://www.supernotariado.gov.co/services/bachue/cb/tramitesencurso/v1/consultarTramites" />
			<wsdl:input>
				<soap:body use="literal" parts="entrada" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="salida" />
			</wsdl:output>
		</wsdl:operation>
		<!-- Fin Binding DatosTramites -->
	</wsdl:binding>

	<wsdl:service name="SBB_CB_TramitesEnCurso">
		<wsdl:port name="SBB_CB_TramitesEnCursoPort"
			binding="bachue:SBB_CB_TramitesEnCursoSOAP12Binding">
			<soap:address location="http://www.example.com" />
		</wsdl:port>
	</wsdl:service>
	<!-- Últimas modificaciones 2020-01-31 16:25 -->
</wsdl:definitions>