SNRServicesMTOWEB/WebContent/wsdl/BS_SBB_CB_MutacionesTercerOrden.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/mutacionesTercerOrden/v1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/mutacionesTercerOrden/v1"
	xmlns:bachue5="https://www.supernotariado.gov.co/schemas/bachue/cb/mutacionesTercerOrden/consultaCambioTercerOrden/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema
			targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/mutacionesTercerOrden/consultaCambioTercerOrden/v1"
			elementFormDefault="qualified">
			<xsd:complexType
				name="tipoEntradaConsultaCambioTercerOrden">
				<xsd:sequence>
					<xsd:element name="tipoIdentificacionPredio"
						minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="matricula" />
								<xsd:enumeration value="numeroPredial" />
								<xsd:enumeration value="numeroPredialAnterior" />
								<xsd:enumeration value="NUPRE" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="numIdentificacionPredio"
						type="xsd:string" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaConsultaCambioTercerOrden"
				type="bachue5:tipoEntradaConsultaCambioTercerOrden" />
			<xsd:complexType
				name="tipoSalidaConsultaCambioTercerOrden">
				<xsd:sequence>
					<xsd:element name="codDepartamento" type="xsd:string"
						minOccurs="0" maxOccurs="1" />
					<xsd:element name="codMunicipio" type="xsd:string"
						minOccurs="0" maxOccurs="1" />
					<xsd:element name="codCirculoRegistral"
						type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="numIdentificacionPredio"
						type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="tipoPredio" type="xsd:string"
						minOccurs="0" maxOccurs="1" />
					<xsd:element name="anotacionesPredio" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="anotacionPredio" minOccurs="0"
									maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="comentario" type="xsd:string"
												minOccurs="0" maxOccurs="1" />
											<xsd:element name="fechaAnotacion"
												type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
											<xsd:element name="codNaturalezaJuridicaFolio"
												type="xsd:string" minOccurs="0" maxOccurs="1" />
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codMensaje" type="xsd:integer" />
					<xsd:element name="descripcionMensaje"
						type="xsd:string" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaConsultaCambioTercerOrden"
				type="bachue5:tipoSalidaConsultaCambioTercerOrden" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ConsultaCambioTercerOrden_Request">
		<wsdl:part name="entrada"
			element="bachue5:entradaConsultaCambioTercerOrden" />
	</wsdl:message>
	<wsdl:message name="ConsultaCambioTercerOrden_Response">
		<wsdl:part name="salida"
			element="bachue5:salidaConsultaCambioTercerOrden" />
	</wsdl:message>
	<wsdl:portType name="SBB_CB_MutacionesTercerOrden">
		<wsdl:operation name="ConsultaCambioTercerOrden">
			<wsdl:input
				message="bachue:ConsultaCambioTercerOrden_Request" />
			<wsdl:output
				message="bachue:ConsultaCambioTercerOrden_Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SBB_CB_MutacionesTercerOrden"
		type="bachue:SBB_CB_MutacionesTercerOrden">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ConsultaCambioTercerOrden">
			<soap:operation style="document"
				soapAction="https://www.supernotariado.gov.co/services/bachue/cb/mutacionestercerorden/v1/ConsultaCambioTercerOrden" />
			<wsdl:input>
				<soap:body use="literal" parts="entrada" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="salida" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SBB_CB_MutacionesTercerOrden">
		<wsdl:port name="SBB_CB_MutacionesTercerOrdenPort"
			binding="bachue:SBB_CB_MutacionesTercerOrden">
			<soap:address location="http://www.example.com" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>