SNRServicesMTOWEB/WebContent/wsdl/SBB_CB_MutacionesTercerOrdenPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/mutacionesTercerOrden/v1" xmlns:bachue5="https://www.supernotariado.gov.co/schemas/bachue/cb/mutacionesTercerOrden/consultaCambioTercerOrden/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/mutacionesTercerOrden/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/mutacionesTercerOrden/consultaCambioTercerOrden/v1">
			<xsd:complexType name="tipoEntradaConsultaCambioTercerOrden">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="tipoIdentificacionPredio">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="matricula"/>
								<xsd:enumeration value="numeroPredial"/>
								<xsd:enumeration value="numeroPredialAnterior"/>
								<xsd:enumeration value="NUPRE"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="numIdentificacionPredio" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaConsultaCambioTercerOrden" type="bachue5:tipoEntradaConsultaCambioTercerOrden"/>
			<xsd:complexType name="tipoSalidaConsultaCambioTercerOrden">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="codDepartamento" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="codMunicipio" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="codCirculoRegistral" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="numIdentificacionPredio" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="tipoPredio" type="xsd:string"/>
					<xsd:element minOccurs="0" name="anotacionesPredio">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="anotacionPredio">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element maxOccurs="1" minOccurs="0" name="comentario" type="xsd:string"/>
											<xsd:element maxOccurs="1" minOccurs="0" name="fechaAnotacion" type="xsd:dateTime"/>
											<xsd:element maxOccurs="1" minOccurs="0" name="codNaturalezaJuridicaFolio" type="xsd:string"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codMensaje" type="xsd:integer"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaConsultaCambioTercerOrden" type="bachue5:tipoSalidaConsultaCambioTercerOrden"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ConsultaCambioTercerOrden_Request">
		<wsdl:part element="bachue5:entradaConsultaCambioTercerOrden" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ConsultaCambioTercerOrden_Response">
		<wsdl:part element="bachue5:salidaConsultaCambioTercerOrden" name="salida"/>
	</wsdl:message>
	<wsdl:portType name="SBB_CB_MutacionesTercerOrden">
		<wsdl:operation name="ConsultaCambioTercerOrden">
			<wsdl:input message="bachue:ConsultaCambioTercerOrden_Request"/>
			<wsdl:output message="bachue:ConsultaCambioTercerOrden_Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SBB_CB_MutacionesTercerOrden" type="bachue:SBB_CB_MutacionesTercerOrden">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ConsultaCambioTercerOrden">
			<soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cb/mutacionestercerorden/v1/ConsultaCambioTercerOrden" style="document"/>
			<wsdl:input>
				<soap:body parts="entrada" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SBB_CB_MutacionesTercerOrden">
		<wsdl:port binding="bachue:SBB_CB_MutacionesTercerOrden" name="SBB_CB_MutacionesTercerOrdenPort">
			<soap:address location="http://localhost:7001/SNRServicesMTOWEB/services/SBB_CB_MutacionesTercerOrdenPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
