SNRServicesNDCWEB/WebContent/wsdl/BS_SAN_CB_NotificarDigitalizacionContentPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<WL5G3N0:definitions xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="https://www.supernotariado.gov.co/schemas/bachue/co/notificarDigitalizacionContent/notificarDigitalizacionContent/v1" xmlns:WL5G3N2="https://www.supernotariado.gov.co/services/bachue/co/notificarDigitalizacionContent/v1" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="https://www.supernotariado.gov.co/services/bachue/co/notificarDigitalizacionContent/v1">
  <WL5G3N0:types>
    <xsd:schema xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/co/notificarDigitalizacionContent/v1" xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/co/notificarDigitalizacionContent/notificarDigitalizacionContent/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/co/notificarDigitalizacionContent/notificarDigitalizacionContent/v1" version="1.3">
		<xsd:complexType name="tipoEntradaNotificarDigitalizacionContent">
			<xsd:sequence>
				<xsd:element minOccurs="1" name="sistemaOrigen" type="xsd:string"/>
				<xsd:element minOccurs="1" name="identificadorTramite" type="xsd:string"/>
				<xsd:element minOccurs="1" name="estado" type="xsd:string"/>
				<xsd:element minOccurs="1" name="docName" type="xsd:string"/>
				<xsd:element minOccurs="1" name="dID" type="xsd:integer"/>
				<xsd:element minOccurs="1" name="dDocType" type="xsd:string"/>
				<xsd:element minOccurs="1" name="fechaEnviado" type="xsd:date"/>
				<xsd:element minOccurs="0" name="idTurno" type="xsd:string"/>
				<xsd:element minOccurs="0" name="idTurnoVinculado" type="xsd:string"/>
				<xsd:element minOccurs="1" name="id_completitud" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:element name="entradaNotificarDigitalizacionContent" type="bachue1:tipoEntradaNotificarDigitalizacionContent"/>
		<xsd:complexType name="tipoSalidaNotificarDigitalizacionContent">
			<xsd:sequence minOccurs="1"> 
				<xsd:element name="codigoMensaje" type="xsd:integer"/>
				<xsd:element minOccurs="1" name="descripcionMensaje" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:element name="salidaNotificarDigitalizacionContent" type="bachue1:tipoSalidaNotificarDigitalizacionContent"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="NotificarDigitalizacionContent_Request">
    <WL5G3N0:part element="WL5G3N1:entradaNotificarDigitalizacionContent" name="entrada"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="NotificarDigitalizacionContent_Response">
    <WL5G3N0:part element="WL5G3N1:salidaNotificarDigitalizacionContent" name="salida"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="BS_SAN_CB_NotificarDigitalizacionContent">
    <WL5G3N0:operation name="NotificarDigitalizacionContent">
      <WL5G3N0:input message="WL5G3N2:NotificarDigitalizacionContent_Request"/>
      <WL5G3N0:output message="WL5G3N2:NotificarDigitalizacionContent_Response"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="BS_SAN_CB_NotificarDigitalizacionContent" type="WL5G3N2:BS_SAN_CB_NotificarDigitalizacionContent">
    <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="NotificarDigitalizacionContent">
      <WL5G3N3:operation soapAction="https://www.supernotariado.gov.co/services/bachue/co/notificarDigitalizacionContent/v1/NotificarDigitalizacionContent" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="entrada" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="salida" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="BS_SAN_CB_NotificarDigitalizacionContent">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N2:BS_SAN_CB_NotificarDigitalizacionContent" name="BS_SAN_CB_NotificarDigitalizacionContentPort">
      <WL5G3N3:address location="http://localhost:7001/SNRServicesNDCWEB/services/BS_SAN_CB_NotificarDigitalizacionContentPort"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>
