SNRIntegration/wsdl/BiometriaController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<!--Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<definitions
	targetNamespace="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/"
	name="BiometriaController"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema
			targetNamespace="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/">
			<xsd:complexType name="actualizarClave">
				<xsd:sequence>
					<xsd:element name="entradaClave" type="tns:usuarioDTO"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="actualizarClaveResponse">
				<xsd:sequence>
					<xsd:element name="salidaResultado"
						type="tns:stringSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="agregarFirma">
				<xsd:sequence>
					<xsd:element name="entradaAgregarFirma"
						type="tns:agregarFirmaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="agregarFirmaResponse">
				<xsd:sequence>
					<xsd:element name="agregarFirmaResponse"
						type="tns:agregarFirmaSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="borrarHuellas">
				<xsd:sequence>
					<xsd:element name="entradaUsuario"
						type="tns:borrarHuellasDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="borrarHuellasResponse">
				<xsd:sequence>
					<xsd:element name="salidaResultado"
						type="tns:stringSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="consultarEstadisticas">
				<xsd:sequence>
					<xsd:element name="entradaEstadisticas"
						type="tns:estadisticasEntradaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="consultarEstadisticasResponse">
				<xsd:sequence>
					<xsd:element name="salidaEstadisticas"
						type="tns:estadisticasSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="consultarSesion">
				<xsd:sequence>
					<xsd:element name="entradaSesion"
						type="tns:sesionEntradaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="consultarSesionResponse">
				<xsd:sequence>
					<xsd:element name="salidaSesion" type="tns:sesionDTO"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="crearUsuario">
				<xsd:sequence>
					<xsd:element name="entradaUsuario"
						type="tns:usuarioDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="crearUsuarioResponse">
				<xsd:sequence>
					<xsd:element name="salidaResultado"
						type="tns:stringSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="eliminarFirma">
				<xsd:sequence>
					<xsd:element name="entradaEliminarFirma"
						type="tns:obtenerFirmaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="eliminarFirmaResponse">
				<xsd:sequence>
					<xsd:element name="eliminarFirmaResponse"
						type="tns:firmaSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="enrolarUsuario">
				<xsd:sequence>
					<xsd:element name="entradaHuella" type="tns:huellaDTO"
						minOccurs="0" maxOccurs="unbounded" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="enrolarUsuarioResponse">
				<xsd:sequence>
					<xsd:element name="salidaResultado"
						type="tns:booleanSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="obtenerConstantes" />
			<xsd:complexType name="obtenerConstantesResponse">
				<xsd:sequence>
					<xsd:element name="salidaResultado"
						type="tns:constantesSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="obtenerFirma">
				<xsd:sequence>
					<xsd:element name="entradaObtenerFirma"
						type="tns:obtenerFirmaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="obtenerFirmaResponse">
				<xsd:sequence>
					<xsd:element name="obtenerFirmaResponse"
						type="tns:obtenerFirmaSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="obtenerTipoSegundoFactor">
				<xsd:sequence>
					<xsd:element name="entradaUsuario"
						type="tns:usuarioEntradaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType
				name="obtenerTipoSegundoFactorResponse">
				<xsd:sequence>
					<xsd:element name="salidaResultado"
						type="tns:stringSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="obtenerUsuario">
				<xsd:sequence>
					<xsd:element name="entradaUsuario"
						type="tns:usuarioEntradaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="obtenerUsuarioResponse">
				<xsd:sequence>
					<xsd:element name="salidaResultado"
						type="tns:stringSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="registrarEvento">
				<xsd:sequence>
					<xsd:element name="entradaLog" type="tns:logDTO"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="registrarEventoResponse">
				<xsd:sequence>
					<xsd:element name="salidaResultado"
						type="tns:booleanSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="verificarClave">
				<xsd:sequence>
					<xsd:element name="entradaClave" type="tns:claveDTO"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="verificarClaveResponse">
				<xsd:sequence>
					<xsd:element name="salidaResultado"
						type="tns:booleanSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="verificarUsuario">
				<xsd:sequence>
					<xsd:element name="entradaVerificacion"
						type="tns:verificacionDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="verificarUsuarioResponse">
				<xsd:sequence>
					<xsd:element name="salidaResultado"
						type="tns:booleanSalidaDTO" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="usuarioDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseDTO">
						<xsd:sequence>
							<xsd:element name="clave" type="xsd:string" />
							<xsd:element name="claveActiva" type="xsd:string" />
							<xsd:element name="fechaVencimiento"
								type="xsd:dateTime" />
							<xsd:element name="idUsuario" type="xsd:string" />
							<xsd:element name="idUsuarioCreacion"
								type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="baseDTO" />
			<xsd:complexType name="stringSalidaDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseSalidaDTO">
						<xsd:sequence>
							<xsd:element name="resultado" type="xsd:string"
								minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="baseSalidaDTO">
				<xsd:sequence>
					<xsd:element name="codigo" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="mensaje" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="agregarFirmaDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseDTO">
						<xsd:sequence>
							<xsd:element name="firma" type="xsd:string" />
							<xsd:element name="idTramite" type="xsd:string" />
							<xsd:element name="idUsuario" type="xsd:string" />
							<xsd:element name="numeroDocCiudadano"
								type="xsd:long" />
							<xsd:element name="tipoDocCiudadano"
								type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="agregarFirmaSalidaDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:firmaSalidaDTO">
						<xsd:sequence>
							<xsd:element name="idFirma" type="xsd:string"
								minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="firmaSalidaDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseSalidaDTO">
						<xsd:sequence>
							<xsd:element name="resultado" type="xsd:string"
								minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="borrarHuellasDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseDTO">
						<xsd:sequence>
							<xsd:element name="idUsuario" type="xsd:string" />
							<xsd:element name="idUsuarioCreacion"
								type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="estadisticasEntradaDTO">
				<xsd:sequence>
					<xsd:element name="idEntidad" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="tipo" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="estadisticasSalidaDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseSalidaDTO">
						<xsd:sequence>
							<xsd:element name="contador" type="xsd:int" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="sesionEntradaDTO">
				<xsd:sequence>
					<xsd:element name="sesion" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="sesionDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseDTO">
						<xsd:sequence>
							<xsd:element name="codigo" type="xsd:string"
								minOccurs="0" />
							<xsd:element name="mensaje" type="xsd:string"
								minOccurs="0" />
							<xsd:element name="resultado" type="xsd:boolean"
								minOccurs="0" />
							<xsd:element name="sesion" type="xsd:string"
								minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="obtenerFirmaDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseDTO">
						<xsd:sequence>
							<xsd:element name="idUsuario" type="xsd:string" />
							<xsd:element name="idfirma" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="huellaDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseDTO">
						<xsd:sequence>
							<xsd:element name="idUsuario" type="xsd:string" />
							<xsd:element name="idUsuarioCreacion"
								type="xsd:string" />
							<xsd:element name="posicion" type="tns:dedosEnum"
								minOccurs="0" />
							<xsd:element name="imagenHuella" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="booleanSalidaDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseSalidaDTO">
						<xsd:sequence>
							<xsd:element name="resultado" type="xsd:boolean"
								minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="constantesSalidaDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseSalidaDTO">
						<xsd:sequence>
							<xsd:element name="constante" type="tns:constante"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="constante">
				<xsd:sequence>
					<xsd:element name="caracter" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="idConstante" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="obtenerFirmaSalidaDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:firmaSalidaDTO">
						<xsd:sequence>
							<xsd:element name="firma" type="xsd:string"
								minOccurs="0" />
							<xsd:element name="idFirma" type="xsd:string"
								minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="usuarioEntradaDTO">
				<xsd:sequence>
					<xsd:element name="idUsuario" type="xsd:string"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="logDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseDTO">
						<xsd:sequence>
							<xsd:element name="detalle" type="xsd:string" />
							<xsd:element name="evento" type="xsd:string" />
							<xsd:element name="idEntidad" type="xsd:string" />
							<xsd:element name="idUsuario" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="claveDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseDTO">
						<xsd:sequence>
							<xsd:element name="clave" type="xsd:string" />
							<xsd:element name="idUsuario" type="xsd:string" />
							<xsd:element name="sesion" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="verificacionDTO">
				<xsd:complexContent>
					<xsd:extension base="tns:baseDTO">
						<xsd:sequence>
							<xsd:element name="idUsuario" type="xsd:string" />
							<xsd:element name="posicion" type="tns:dedosEnum"
								minOccurs="0" />
							<xsd:element name="sesion" type="xsd:string" />
							<xsd:element name="imagenHuella" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="actualizarClave"
				type="tns:actualizarClave" />
			<xsd:element name="actualizarClaveResponse"
				type="tns:actualizarClaveResponse" />
			<xsd:element name="agregarFirma" type="tns:agregarFirma" />
			<xsd:element name="agregarFirmaResponse"
				type="tns:agregarFirmaResponse" />
			<xsd:element name="borrarHuellas"
				type="tns:borrarHuellas" />
			<xsd:element name="borrarHuellasResponse"
				type="tns:borrarHuellasResponse" />
			<xsd:element name="consultarEstadisticas"
				type="tns:consultarEstadisticas" />
			<xsd:element name="consultarEstadisticasResponse"
				type="tns:consultarEstadisticasResponse" />
			<xsd:element name="consultarSesion"
				type="tns:consultarSesion" />
			<xsd:element name="consultarSesionResponse"
				type="tns:consultarSesionResponse" />
			<xsd:element name="crearUsuario" type="tns:crearUsuario" />
			<xsd:element name="crearUsuarioResponse"
				type="tns:crearUsuarioResponse" />
			<xsd:element name="eliminarFirma"
				type="tns:eliminarFirma" />
			<xsd:element name="eliminarFirmaResponse"
				type="tns:eliminarFirmaResponse" />
			<xsd:element name="enrolarUsuario"
				type="tns:enrolarUsuario" />
			<xsd:element name="enrolarUsuarioResponse"
				type="tns:enrolarUsuarioResponse" />
			<xsd:element name="obtenerConstantes"
				type="tns:obtenerConstantes" />
			<xsd:element name="obtenerConstantesResponse"
				type="tns:obtenerConstantesResponse" />
			<xsd:element name="obtenerFirma" type="tns:obtenerFirma" />
			<xsd:element name="obtenerFirmaResponse"
				type="tns:obtenerFirmaResponse" />
			<xsd:element name="obtenerTipoSegundoFactor"
				type="tns:obtenerTipoSegundoFactor" />
			<xsd:element name="obtenerTipoSegundoFactorResponse"
				type="tns:obtenerTipoSegundoFactorResponse" />
			<xsd:element name="obtenerUsuario"
				type="tns:obtenerUsuario" />
			<xsd:element name="obtenerUsuarioResponse"
				type="tns:obtenerUsuarioResponse" />
			<xsd:element name="registrarEvento"
				type="tns:registrarEvento" />
			<xsd:element name="registrarEventoResponse"
				type="tns:registrarEventoResponse" />
			<xsd:element name="verificarClave"
				type="tns:verificarClave" />
			<xsd:element name="verificarClaveResponse"
				type="tns:verificarClaveResponse" />
			<xsd:element name="verificarUsuario"
				type="tns:verificarUsuario" />
			<xsd:element name="verificarUsuarioResponse"
				type="tns:verificarUsuarioResponse" />
			<xsd:element name="entradaUsuario" type="tns:usuarioDTO" />
			<xsd:simpleType name="dedosEnum">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PULGAR_DERECHO" />
					<xsd:enumeration value="INDICE_DERECHO" />
					<xsd:enumeration value="CORAZON_DERECHO" />
					<xsd:enumeration value="ANULAR_DERECHO" />
					<xsd:enumeration value="MENIQUE_DERECHO" />
					<xsd:enumeration value="PULGAR_IZQUIERDO" />
					<xsd:enumeration value="INDICE_IZQUIERDO" />
					<xsd:enumeration value="CORAZON_IZQUIERDO" />
					<xsd:enumeration value="ANULAR_IZQUIERDO" />
					<xsd:enumeration value="MENIQUE_IZQUIERDO" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</types>
	<message name="obtenerConstantes">
		<part name="parameters" element="tns:obtenerConstantes" />
	</message>
	<message name="obtenerConstantesResponse">
		<part name="parameters" element="tns:obtenerConstantesResponse" />
	</message>
	<message name="borrarHuellas">
		<part name="parameters" element="tns:borrarHuellas" />
	</message>
	<message name="borrarHuellasResponse">
		<part name="parameters" element="tns:borrarHuellasResponse" />
	</message>
	<message name="enrolarUsuario">
		<part name="parameters" element="tns:enrolarUsuario" />
	</message>
	<message name="enrolarUsuarioResponse">
		<part name="parameters" element="tns:enrolarUsuarioResponse" />
	</message>
	<message name="registrarEvento">
		<part name="parameters" element="tns:registrarEvento" />
	</message>
	<message name="registrarEventoResponse">
		<part name="parameters" element="tns:registrarEventoResponse" />
	</message>
	<message name="consultarSesion">
		<part name="parameters" element="tns:consultarSesion" />
	</message>
	<message name="consultarSesionResponse">
		<part name="parameters" element="tns:consultarSesionResponse" />
	</message>
	<message name="obtenerTipoSegundoFactor">
		<part name="parameters" element="tns:obtenerTipoSegundoFactor" />
	</message>
	<message name="obtenerTipoSegundoFactorResponse">
		<part name="parameters"
			element="tns:obtenerTipoSegundoFactorResponse" />
	</message>
	<message name="crearUsuario">
		<part name="parameters" element="tns:crearUsuario" />
	</message>
	<message name="crearUsuarioResponse">
		<part name="parameters" element="tns:crearUsuarioResponse" />
	</message>
	<message name="actualizarClave">
		<part name="parameters" element="tns:actualizarClave" />
	</message>
	<message name="actualizarClaveResponse">
		<part name="parameters" element="tns:actualizarClaveResponse" />
	</message>
	<message name="obtenerUsuario">
		<part name="parameters" element="tns:obtenerUsuario" />
	</message>
	<message name="obtenerUsuarioResponse">
		<part name="parameters" element="tns:obtenerUsuarioResponse" />
	</message>
	<message name="verificarUsuario">
		<part name="parameters" element="tns:verificarUsuario" />
	</message>
	<message name="verificarUsuarioResponse">
		<part name="parameters" element="tns:verificarUsuarioResponse" />
	</message>
	<message name="consultarEstadisticas">
		<part name="parameters" element="tns:consultarEstadisticas" />
	</message>
	<message name="consultarEstadisticasResponse">
		<part name="parameters"
			element="tns:consultarEstadisticasResponse" />
	</message>
	<message name="verificarClave">
		<part name="parameters" element="tns:verificarClave" />
	</message>
	<message name="verificarClaveResponse">
		<part name="parameters" element="tns:verificarClaveResponse" />
	</message>
	<message name="agregarFirma">
		<part name="parameters" element="tns:agregarFirma" />
	</message>
	<message name="agregarFirmaResponse">
		<part name="parameters" element="tns:agregarFirmaResponse" />
	</message>
	<message name="obtenerFirma">
		<part name="parameters" element="tns:obtenerFirma" />
	</message>
	<message name="obtenerFirmaResponse">
		<part name="parameters" element="tns:obtenerFirmaResponse" />
	</message>
	<message name="eliminarFirma">
		<part name="parameters" element="tns:eliminarFirma" />
	</message>
	<message name="eliminarFirmaResponse">
		<part name="parameters" element="tns:eliminarFirmaResponse" />
	</message>
	<portType name="BiometriaWS">
		<operation name="obtenerConstantes">
			<input wsam:Action="obtenerConstantes"
				message="tns:obtenerConstantes" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/obtenerConstantesResponse"
				message="tns:obtenerConstantesResponse" />
		</operation>
		<operation name="borrarHuellas">
			<input wsam:Action="borrarHuellas" message="tns:borrarHuellas" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/borrarHuellasResponse"
				message="tns:borrarHuellasResponse" />
		</operation>
		<operation name="enrolarUsuario">
			<input wsam:Action="enrolarUsuario"
				message="tns:enrolarUsuario" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/enrolarUsuarioResponse"
				message="tns:enrolarUsuarioResponse" />
		</operation>
		<operation name="registrarEvento">
			<input wsam:Action="registrarEvento"
				message="tns:registrarEvento" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/registrarEventoResponse"
				message="tns:registrarEventoResponse" />
		</operation>
		<operation name="consultarSesion">
			<input wsam:Action="consultarSesion"
				message="tns:consultarSesion" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/consultarSesionResponse"
				message="tns:consultarSesionResponse" />
		</operation>
		<operation name="obtenerTipoSegundoFactor">
			<input wsam:Action="obtenerTipoSegundoFactor"
				message="tns:obtenerTipoSegundoFactor" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/obtenerTipoSegundoFactorResponse"
				message="tns:obtenerTipoSegundoFactorResponse" />
		</operation>
		<operation name="crearUsuario">
			<input wsam:Action="crearUsuario" message="tns:crearUsuario" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/crearUsuarioResponse"
				message="tns:crearUsuarioResponse" />
		</operation>
		<operation name="actualizarClave">
			<input wsam:Action="actualizarClave"
				message="tns:actualizarClave" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/actualizarClaveResponse"
				message="tns:actualizarClaveResponse" />
		</operation>
		<operation name="obtenerUsuario">
			<input wsam:Action="obtenerUsuario"
				message="tns:obtenerUsuario" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/obtenerUsuarioResponse"
				message="tns:obtenerUsuarioResponse" />
		</operation>
		<operation name="verificarUsuario">
			<input wsam:Action="verificarUsuario"
				message="tns:verificarUsuario" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/verificarUsuarioResponse"
				message="tns:verificarUsuarioResponse" />
		</operation>
		<operation name="consultarEstadisticas">
			<input wsam:Action="consultarEstadisticas"
				message="tns:consultarEstadisticas" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/consultarEstadisticasResponse"
				message="tns:consultarEstadisticasResponse" />
		</operation>
		<operation name="verificarClave">
			<input wsam:Action="verificarClave"
				message="tns:verificarClave" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/verificarClaveResponse"
				message="tns:verificarClaveResponse" />
		</operation>
		<operation name="agregarFirma">
			<input wsam:Action="agregarFirma" message="tns:agregarFirma" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/agregarFirmaResponse"
				message="tns:agregarFirmaResponse" />
		</operation>
		<operation name="obtenerFirma">
			<input wsam:Action="obtenerFirma" message="tns:obtenerFirma" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/obtenerFirmaResponse"
				message="tns:obtenerFirmaResponse" />
		</operation>
		<operation name="eliminarFirma">
			<input wsam:Action="eliminarFirma" message="tns:eliminarFirma" />
			<output
				wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/eliminarFirmaResponse"
				message="tns:eliminarFirmaResponse" />
		</operation>
	</portType>
	<binding name="BiometriaWSPortBinding" type="tns:BiometriaWS">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="obtenerConstantes">
			<soap:operation soapAction="obtenerConstantes" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="borrarHuellas">
			<soap:operation soapAction="borrarHuellas" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="enrolarUsuario">
			<soap:operation soapAction="enrolarUsuario" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="registrarEvento">
			<soap:operation soapAction="registrarEvento" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="consultarSesion">
			<soap:operation soapAction="consultarSesion" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="obtenerTipoSegundoFactor">
			<soap:operation soapAction="obtenerTipoSegundoFactor" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="crearUsuario">
			<soap:operation soapAction="crearUsuario" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="actualizarClave">
			<soap:operation soapAction="actualizarClave" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="obtenerUsuario">
			<soap:operation soapAction="obtenerUsuario" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="verificarUsuario">
			<soap:operation soapAction="verificarUsuario" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="consultarEstadisticas">
			<soap:operation soapAction="consultarEstadisticas" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="verificarClave">
			<soap:operation soapAction="verificarClave" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="agregarFirma">
			<soap:operation soapAction="agregarFirma" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="obtenerFirma">
			<soap:operation soapAction="obtenerFirma" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="eliminarFirma">
			<soap:operation soapAction="eliminarFirma" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="BiometriaController">
		<port name="BiometriaWSPort" binding="tns:BiometriaWSPortBinding">
			<soap:address
				location="http://snrappdev06.eastus.cloudapp.azure.com:20187/BiometriaWS/BiometriaController" />
		</port>
	</service>
</definitions>