SNRIntegration/wsdl/BS_SUT_CB_Notificador.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/notificador/v1"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/notificador/v1"
	xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/cb/notificador/acusarmensaje/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema
			targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cb/notificador/acusarmensaje/v1"
			elementFormDefault="qualified" version="1.3">
			<xsd:complexType name="tipoEntradaAcusarMensaje">
				<xsd:sequence>
					<xsd:element name="identificador" type="xsd:string"
						minOccurs="0" maxOccurs="1" />
					<xsd:element name="guia" type="xsd:string"
						minOccurs="0" maxOccurs="1" nillable="true" />
					<xsd:element name="fechaAcuse" type="xsd:dateTime"
						minOccurs="0" maxOccurs="1" />
					<xsd:element name="fechaEnvio" type="xsd:dateTime"
						minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaAcusarMensaje"
				type="bachue1:tipoEntradaAcusarMensaje" />
			<xsd:complexType name="tipoSalidaAcusarMensaje">
				<xsd:sequence>
					<xsd:element name="codigoMensaje" type="xsd:integer" />
					<xsd:element name="descripcionMensaje"
						type="xsd:string" minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaAcusarMensaje"
				type="bachue1:tipoSalidaAcusarMensaje" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="AcusarMensaje_Request">
		<wsdl:part name="entrada"
			element="bachue1:entradaAcusarMensaje" />
	</wsdl:message>
	<wsdl:message name="AcusarMensaje_Response">
		<wsdl:part name="salida"
			element="bachue1:salidaAcusarMensaje" />
	</wsdl:message>

	<wsdl:portType name="SUT_CB_Notificador">
		<wsdl:operation name="AcusarMensaje">
			<wsdl:input message="bachue:AcusarMensaje_Request" />
			<wsdl:output message="bachue:AcusarMensaje_Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SUT_CB_NotificadorSOAP12Binding"
		type="bachue:SUT_CB_Notificador">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AcusarMensaje">
			<soap:operation style="document"
				soapAction="https://www.supernotariado.gov.co/services/bachue/cb/notificador/v1/AcusarMensaje" />
			<wsdl:input>
				<soap:body use="literal" parts="entrada" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="salida" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SUT_CB_Notificador">
		<wsdl:port name="SUT_CB_NotificadorPort"
			binding="bachue:SUT_CB_NotificadorSOAP12Binding">
			<soap:address location="http://www.example.com" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>