SNRIntegration/wsdl/BS_SUT_CO_CreadorTurno.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/co/creadorturno/v1"
	xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/co/creadorturno/crearturno/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/co/creadorturno/v1">

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/co/creadorturno/crearturno/v1">
			<xsd:complexType name="tipoEntradaCrearTurno">
				<xsd:sequence>

					<xsd:element name="sistemaOrigen" type="xsd:string" />
					<xsd:element name="parametros">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="parametro"
									type="bachue1:tipoParametroCT" minOccurs="0"
									maxOccurs="unbounded" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="tipoParametroCT">
				<xsd:sequence>
					<xsd:element name="nombre" type="xsd:string" />
					<xsd:element name="valor" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:element name="entradaCrearTurno"
				type="bachue1:tipoEntradaCrearTurno" />

			<xsd:complexType name="tipoSalidaCrearTurno">
				<xsd:sequence>
					<xsd:element name="codigoMensaje" type="xsd:integer" />
					<xsd:element name="descripcionMensaje"
						type="xsd:string" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="salidaCrearTurno"
				type="bachue1:tipoSalidaCrearTurno" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CrearTurno_Request">
		<wsdl:part name="entrada"
			element="bachue1:entradaCrearTurno" />
	</wsdl:message>
	<wsdl:message name="CrearTurno_Response">
		<wsdl:part name="salida" element="bachue1:salidaCrearTurno" />
	</wsdl:message>

	<wsdl:portType name="SUT_CO_CreadorTurno">
		<wsdl:operation name="CrearTurno">
			<wsdl:input message="bachue:CrearTurno_Request" />
			<wsdl:output message="bachue:CrearTurno_Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SUT_CO_CreadorTurnoSOAP12Binding"
		type="bachue:SUT_CO_CreadorTurno">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CrearTurno">
			<soap:operation style="document"
				soapAction="https://www.supenotariado.gov.co/services/bachue/co/creadorturno/v1/CrearTurno" />
			<wsdl:input>
				<soap:body use="literal" parts="entrada" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="salida" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SUT_CO_CreadorTurno">
		<wsdl:port name="SUT_CO_CreadorTurnoPort"
			binding="bachue:SUT_CO_CreadorTurnoSOAP12Binding">
			<soap:address location="http://www.example.com" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>