SNRIntegration/wsdl/SUT_CR_GeneracionIDsCorrespondenciaPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cr/generacionidscorrespondencia/v1" xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/cr/generacionidscorrespondencia/obtenereecorrespondencia/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.supernotariado.gov.co/services/bachue/cr/generacionidscorrespondencia/v1">

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/cr/generacionidscorrespondencia/obtenereecorrespondencia/v1">
			<xsd:complexType name="tipoEntradaObtenerEECorrespondencia">
				<xsd:sequence>
					<xsd:element name="clasificacion">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="comunicacion"/>
								<xsd:enumeration value="notificacion"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="canal">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="fisico"/>
								<xsd:enumeration value="electronico"/>
								<xsd:enumeration value="sms"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="orip" type="xsd:string"/>
					<xsd:element name="nir" type="xsd:string"/>
					<xsd:element name="turno" type="xsd:string"/>
					<xsd:element name="numeroFolios" type="xsd:string"/>
					<xsd:element name="documentos">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="1" name="nombreDocumento" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>	
					<xsd:element name="destinatarios">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="1" name="destinatario" type="bachue1:tipoDestinatario"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>	
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="tipoDestinatario">
					<xsd:sequence>
						<xsd:element name="tipoDocDestinatario" type="xsd:string"/>
						<xsd:element name="numeroDocDestinatario" type="xsd:string"/>
						<xsd:element name="primerNombreDestinatario" type="xsd:string"/>
						<xsd:element name="segundoNombreDestinatario" type="xsd:string"/>
						<xsd:element name="primerApellidoDestinatario" type="xsd:string"/>
						<xsd:element name="segundoApellidoDestinatario" type="xsd:string"/>
						<xsd:element name="variables">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element maxOccurs="unbounded" minOccurs="1" name="variable" type="bachue1:tipoVariable"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>	
					</xsd:sequence>
				</xsd:complexType>
			

			<xsd:complexType name="tipoVariable">
					<xsd:sequence>
						<xsd:element name="llave" type="xsd:string"/>
						<xsd:element name="valor" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>

			<xsd:element name="entradaObtenerEECorrespondencia" type="bachue1:tipoEntradaObtenerEECorrespondencia"/>

			<xsd:complexType name="tipoSalidaObtenerEECorrespondencia">
				<xsd:sequence maxOccurs="unbounded" minOccurs="0"> 
					<xsd:element maxOccurs="1" minOccurs="0" name="identificador" type="xsd:string"/>
					<xsd:element name="codigoMensaje" type="xsd:integer"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="descripcionMensaje" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="salidaObtenerEECorrespondencia" type="bachue1:tipoSalidaObtenerEECorrespondencia"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ObtenerEECorrespondencia_Request">
		<wsdl:part element="bachue1:entradaObtenerEECorrespondencia" name="entrada"/>
	</wsdl:message>
	<wsdl:message name="ObtenerEECorrespondencia_Response">
		<wsdl:part element="bachue1:salidaObtenerEECorrespondencia" name="salida"/>
	</wsdl:message>
	
	<wsdl:portType name="SUT_CR_GeneracionIDsCorrespondencia">
		<wsdl:operation name="ObtenerEECorrespondencia">
			<wsdl:input message="bachue:ObtenerEECorrespondencia_Request"/>
			<wsdl:output message="bachue:ObtenerEECorrespondencia_Response"/>
		</wsdl:operation>
	</wsdl:portType>
 <wsdl:binding name="SUT_CR_GeneracionIDsCorrespondenciaSOAP12Binding" type="bachue:SUT_CR_GeneracionIDsCorrespondencia">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="ObtenerEECorrespondencia">
   <soap:operation soapAction="https://www.supernotariado.gov.co/services/bachue/cr/generacionidscorrespondencia/v1/ObtenerEECorrespondencia" style="document"/>
   <wsdl:input>
    <soap:body parts="entrada" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="salida" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name="SUT_CR_GeneracionIDsCorrespondencia">
  <wsdl:port binding="bachue:SUT_CR_GeneracionIDsCorrespondenciaSOAP12Binding" name="SUT_CR_GeneracionIDsCorrespondenciaPort">
   <soap:address location="http://localhost:7001/SNREnvioDocumentosWEB/services/SUT_CR_GeneracionIDsCorrespondenciaPort"/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>
