SNRIntegration/wsdl/SUT_CO_EnvioDocumentos.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/co/enviodocumentos/v1"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/co/enviodocumentos/v1"
	xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/co/enviodocumentos/enviardocumento/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema
			targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/co/enviodocumentos/enviardocumento/v1"
			elementFormDefault="qualified" version="1.3">
			<xsd:complexType name="tipoEntradaEnviarDocumento">
				<xsd:sequence>
					<xsd:element name="sistemaOrigen" type="xsd:string" />
					<xsd:element name="repositorio">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="TEMPORAL" />
								<xsd:enumeration value="FINAL" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="parametros">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="parametro"
									type="bachue1:tipoParametro" minOccurs="0"
									maxOccurs="unbounded" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="archivo" type="xsd:base64Binary" />
					<xsd:element name="nombreArchivo" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- Tipo complejo Parametro -->
			<xsd:complexType name="tipoParametro">
				<xsd:sequence>
					<xsd:element name="nombre" type="xsd:string" />
					<xsd:element name="valor" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaEnviarDocumento"
				type="bachue1:tipoEntradaEnviarDocumento" />
			<xsd:complexType name="tipoSalidaEnviarDocumento">
				<xsd:sequence>
					<xsd:element name="docName" type="xsd:string" />
					<xsd:element name="dID" type="xsd:string" />
					<xsd:element name="codigoMensaje" type="xsd:integer" />
					<xsd:element name="descripcionMensaje"
						type="xsd:string" minOccurs="0" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaEnviarDocumento"
				type="bachue1:tipoSalidaEnviarDocumento" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="EnviarDocumento_Request">
		<wsdl:part name="entrada"
			element="bachue1:entradaEnviarDocumento" />
	</wsdl:message>
	<wsdl:message name="EnviarDocumento_Response">
		<wsdl:part name="salida"
			element="bachue1:salidaEnviarDocumento" />
	</wsdl:message>
	<wsdl:portType name="SUT_CO_EnvioDocumentos">
		<wsdl:operation name="EnviarDocumento">
			<wsdl:input message="bachue:EnviarDocumento_Request" />
			<wsdl:output message="bachue:EnviarDocumento_Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SUT_CO_EnvioDocumentosSOAP12Binding"
		type="bachue:SUT_CO_EnvioDocumentos">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="EnviarDocumento">
			<soap:operation style="document"
				soapAction="https://www.supernotariado.gov.co/services/bachue/co/enviodocumentos/v1/EnviarDocumento" />
			<wsdl:input>
				<soap:body use="literal" parts="entrada" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="salida" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SUT_CO_EnvioDocumentos">
		<wsdl:port name="SUT_CO_EnvioDocumentosPort"
			binding="bachue:SUT_CO_EnvioDocumentosSOAP12Binding">
			<soap:address location="http://www.example.com" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>