SNRIntegration/wsdl/SUT_CO_BusquedaDocumentosPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/co/busquedadocumentos/v1"
	xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/co/busquedadocumentos/consultar/v1"
	xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/co/busquedadocumentos/obtenerarchivo/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/co/busquedadocumentos/v1">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/co/busquedadocumentos/consultar/v1"
			version="1.3">
			<xsd:complexType name="tipoEntradaConsultar">
				<xsd:sequence>
					<xsd:element name="sistemaOrigen" type="xsd:string" />
					<xsd:element name="parametros">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0"
									name="parametro" type="bachue1:tipoParametro" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="repositorio">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="TEMPORAL" />
								<xsd:enumeration value="FINAL" />
								<xsd:enumeration value="MIXTO" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- Tipo complejo Parametro -->
			<xsd:complexType name="tipoParametro">
				<xsd:sequence>
					<xsd:element name="nombre" type="xsd:string" />
					<xsd:element name="valor" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaConsultar"
				type="bachue1:tipoEntradaConsultar" />
			<xsd:complexType name="tipoSalidaConsultar">
				<xsd:sequence>
					<xsd:element name="documentos">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0"
									name="documento" type="bachue1:tipoDocumento" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="codigoMensaje" type="xsd:integer" />
					<xsd:element minOccurs="0" name="descripcionMensaje"
						nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- Tipo complejo Documento -->
			<xsd:complexType name="tipoDocumento">
				<xsd:sequence>
					<xsd:element name="dID" type="xsd:string" />
					<xsd:element name="docName" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="tipoDocumental" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0" name="orip"
						nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0" name="nir"
						nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0" name="codOrip"
						nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0" name="turno"
						nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="documentoRegistrado" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="numeroDocumento" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="fechaDocumento" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="entidadOrigen" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0" name="pais"
						nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="departamento" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="municipio" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="matricula" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="anotacion" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="numeroPagina" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="numeroFolios" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="nombreInterviniente" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="identificacionInterviniente" nillable="true"
						type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="fechaPublicacion" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="fechaVigencia" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="tipoOficina" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="actoNaturalezaJuridica" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0" name="proceso"
						nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="nirVinculado" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="turnoVinculado" nillable="true" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="urlVisor" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaConsultar"
				type="bachue1:tipoSalidaConsultar" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/co/busquedadocumentos/obtenerarchivo/v1">
			<xsd:complexType name="tipoEntradaObtenerArchivo">
				<xsd:sequence>
					<xsd:element name="dDocName" type="xsd:string" />
					<xsd:element name="dID" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="entradaObtenerArchivo"
				type="bachue2:tipoEntradaObtenerArchivo" />
			<xsd:complexType name="tipoSalidaObtenerArchivo">
				<xsd:sequence>
					<xsd:element name="archivo" type="xsd:base64Binary" />
					<xsd:element name="codigoMensaje" type="xsd:integer" />
					<xsd:element maxOccurs="1" minOccurs="0"
						name="descripcionMensaje" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="salidaObtenerArchivo"
				type="bachue2:tipoSalidaObtenerArchivo" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Consultar_Request">
		<wsdl:part element="bachue1:entradaConsultar" name="entrada" />
	</wsdl:message>
	<wsdl:message name="Consultar_Response">
		<wsdl:part element="bachue1:salidaConsultar" name="salida" />
	</wsdl:message>
	<wsdl:message name="ObtenerArchivo_Request">
		<wsdl:part element="bachue2:entradaObtenerArchivo"
			name="entrada" />
	</wsdl:message>
	<wsdl:message name="ObtenerArchivo_Response">
		<wsdl:part element="bachue2:salidaObtenerArchivo"
			name="salida" />
	</wsdl:message>
	<wsdl:portType name="SUT_CO_BusquedaDocumentos">
		<wsdl:operation name="Consultar">
			<wsdl:input message="bachue:Consultar_Request" />
			<wsdl:output message="bachue:Consultar_Response" />
		</wsdl:operation>
		<wsdl:operation name="ObtenerArchivo">
			<wsdl:input message="bachue:ObtenerArchivo_Request" />
			<wsdl:output message="bachue:ObtenerArchivo_Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding
		name="SUT_CO_BusquedaDocumentosSOAP12Binding"
		type="bachue:SUT_CO_BusquedaDocumentos">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Consultar">
			<soap:operation
				soapAction="https://www.supernotariado.gov.co/services/bachue/co/busquedadocumentos/v1/Consultar"
				style="document" />
			<wsdl:input>
				<soap:body parts="entrada" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObtenerArchivo">
			<soap:operation
				soapAction="https://www.supernotariado.gov.co/services/bachue/co/busquedadocumentos/v1/ObtenerArchivo"
				style="document" />
			<wsdl:input>
				<soap:body parts="entrada" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="salida" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SUT_CO_BusquedaDocumentos">
		<wsdl:port
			binding="bachue:SUT_CO_BusquedaDocumentosSOAP12Binding"
			name="SUT_CO_BusquedaDocumentosPort">
			<soap:address
				location="http://localhost:7001/SNREnvioDocumentosWEB/services/SUT_CO_BusquedaDocumentosPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
